<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title>添加用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../layui-v2.5.6/layui/css/layui.css"  media="all">
  <script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
</head>
<body>


	
<form class="layui-form" action="" style="">
	  <div class="layui-form-item">
	    <label class="layui-form-label">工号:</label>
	    <div class="layui-input-inline">
	      <input type="text" id="username" disabled  autocomplete="off"  class="layui-input" >
	      <input type="hidden" id="userid" disabled  autocomplete="off"  class="layui-input" >
	      <input type="hidden" id="phone" disabled  autocomplete="off"  class="layui-input" >
	    </div>
	    <label class="layui-form-label">姓名:</label>
	    <div class="layui-input-inline">
	     <input type="text" id="realname" disabled autocomplete="off"  class="layui-input" >
	    </div>
	    <label class="layui-form-label">企业邮箱:</label>
	    <div class="layui-input-inline">
	      <input type="text" id="email" lay-verify="email" disabled autocomplete="off" class="layui-input">
	    </div>
	  </div>
</form>
	
    <div id="allrole" style="padding-left:60px"></div>

<script src="../../layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
 
<script>

var trandata = [];
var storage=window.localStorage;
var token = storage.getItem("token");
function tranfun(){
	$.ajax({
		url:'/roles/list',
		type:'get',
		beforeSend:function(request){
			request.setRequestHeader("Authorization","Bearer "+token);
		},
		async:false,
		dataType:'json',
		success:function(res){
		 trandata = res.data;
		}
	});
}
function initData(data){
	var userid = data.id;
	var username = data.username;
	var phone = data.phone;
	var realname = data.realname;
	var email = data.email;
	var value = data.roleid;
	if(value == undefined || value == ''){
	  var tranval = [];
	}else{
	  var tranval = value.split(",");
	}
	$('#userid').val(userid);
	$('#username').val(username);
	$('#realname').val(realname);
	$('#email').val(email);
	$('#phone').val(phone);
	tranfun();
	layui.use(['table','transfer','util'], function(d){
		  var table = layui.table;
		  var util = layui.util;
		  var transfer = layui.transfer;
		transfer.render({
			 elem: '#allrole'  //绑定元素
			 ,title:['用户未拥有','用户已分配角色']
		     ,data: trandata
		     ,parseData:function(trandata){
		    	  return{
		    		  "value":trandata.id,
		    		  "title":trandata.name,
		    	  }
		      } 
		     ,value:tranval
		     ,id:'transfer1'
		});
	})
}
var roles = [];
function getData(){
		var id = $('#userid').val();
		var username = $('#username').val();
		var realname = $('#realname').val();
		var phone = $('#phone').val();
	layui.use('transfer',function(){
		var transfer = layui.transfer;
		var tdata = transfer.getData('transfer1');
		for(var i =0;i<tdata.length;i++){
			roles.push({"id":tdata[i].value});
		}
	})
	    var data = {"id":id,"username":username,"realName":realname,"phone":phone,"roles":roles};
	    return data;
}
function refresh(){
	window.location.reload();
}
</script>

</body>
</html>