<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title>更新角色</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../layui-v2.5.6/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
  <!-- ztree -->
	<link href="../../ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
	<script src="../../ztree/js/jquery.ztree.all.js"></script>
	<style type="text/css">
		.layui-form-label {
	      width: 100px;
	    }
	    .layui-form-checkbox {
			margin-top: 10px;
		}
	</style>
</head>
<body>
   <div style="margin-top:40px;" >
		<label class="layui-form-label">角色名称：</label>
	    <div class="layui-input-inline">
	    <input type="text" disabled id="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
	    <input type="hidden" id="roleid"  placeholder="请输入" autocomplete="off" class="layui-input">
	    <input type="hidden" id="createTime"  placeholder="请输入" autocomplete="off" class="layui-input">
	    </div>
   </div>
   
   <div class="layui-form-item layui-form-text">
	    <label class="layui-form-label layui-required">角色描述：</label>
	    <div class="layui-input-block" style="width:50%;">
	      <textarea id="description" style="margin-left: -10px;" placeholder="描述角色权限" class="layui-textarea" name=""></textarea>
	    </div>
  </div>
  
	 <div class="layui-container" style='margin-left:5%;'>
	 
	    <div class="layui-row layui-col-space20">
		   <div class="layui-col-xs3">
			    <div class="panel panel-success" style="">
					<div class="panel-heading">
						<div class="panel-title" >数据权限</div>
					</div>
		            <div>
					   <ul id="datatree" class="ztree"></ul>
				  	</div>
				</div>
		   </div>
		   
		   <div class="layui-col-xs3" style="">
			   <div class="panel panel-info" style="">
					<div class="panel-heading">
						<div class="panel-title" >功能权限</div>
					</div>
		            <div>
					   <ul id="funtree" class="ztree"></ul>
				  	</div>
				</div>
			</div>
			
			<div  style="text-align:center;" class="layui-col-xs2 layui-col-mid2 layui-col-lg2">
		  		 <div class="panel panel-info" >
					<div class="panel-heading">
						<div class="panel-title" >测试角色负责的版本层级</div>
					</div>
					
		            <div>
					    <form class="layui-form" id="addform">
	   	     		    </form>
				  	</div>
				</div>
   	       </div>
			
		</div>
	 </div>
	 <div style="margin-top:10px;margin-left:10%;">
	 	 <button type="submit" class="layui-btn" id="update">更新</button>
	 </div>
<script src="../../layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn layui-btn" lay-event="deal">处理</a>
</script>        
<script>
var storage=window.localStorage;
var token = storage.getItem("token");
//可选版本层级
$.ajax({
	url:'/roles/verlevel',
	type:'get',
	dataType:'json',
	success:function(res){
		if(res.status != 200 || res.data.length == 0){
			return;
		}
		var data = res.data;
		var html = '';
		for(var i=0;i<data.length;i++){
			html += '<input type="checkbox" name='+data[i].verlevel+' value='+data[i].id+' title='+data[i].verlevel+'>'
		}
		$('#addform').append(html);
	}
})
//初始化要勾选功能和数据权限
var funcId = [];
var deptId = [];
  var setting = {
			 view: {
		        showIcon: true,
		        addHoverDom: false,
		        removeHoverDom: false,
		        selectedMulti: false,
		    }, 
		    check: {
		    	enable: true,
				chkStyle: "checkbox",
				chkboxType: { "Y": "s", "N": "s" }
			},
		    data: {
	            simpleData: {
	                enable: true,
	                idKey : "id",
	                pIdKey : "pid",
	               },
	             key : {
	            	 name : "name"
	                  },
	             keep : {
	                    parent : true,//没有子节点也保持父节点状态
	                    leaf : false
	               }
	        },
	         edit: {
	        	drag: {
	    			autoExpandTrigger: true,
	    			prev: false,
	    			next: false,
	    			inner: true
	    		},
				enable: true,
				showRemoveBtn: false,
				showRenameBtn: false
			},
			callback: {
				beforeDrag: beforeDrag,
				beforeDrop: beforeDrop,
				onClick: zTreeOnClick,
			} 
		};
  var fundata = [];
  var treedata =[];
  $.ajax({
	  url:'/functions',
	  type:'get',
	  dataTyoe:'json',
	  async:false,
	  success:function(res){
		  if(res.status == 200){
			  for(var i=0;i<res.data.length;i++){
				  fundata.push({"id":res.data[i].id,"name":res.data[i].description,"pid":res.data[i].pid});
			  }
		  }
	  },
	  error:function(){
		  layer.msg("功能权限获取失败");
	  }
	  
  });
  $.ajax({
	  url:'/departments?id=3',
	  type:'get',
	  dataTyoe:'json',
	  async:false,
	  success:function(res){
		  if(res.status == 200){
			  for(var i=0;i<res.data.length;i++){
				  treedata.push({"id":res.data[i].id,"name":res.data[i].name,"pid":res.data[i].pid});
			  }
		  }
	  },
	  error:function(){
		  layer.msg("功能权限获取失败");
	  }
	  
  });
 
  $.fn.zTree.init($("#funtree"), setting, fundata).expandAll(true);
  $.fn.zTree.init($("#datatree"), setting, treedata);
  var treeObj = $.fn.zTree.getZTreeObj("datatree");
  var treeFun = $.fn.zTree.getZTreeObj("funtree");
  var nodes = treeObj.getNodes();
  for (var i = 0; i < nodes.length; i++) { //设置节点展开
      treeObj.expandNode(nodes[i], true, false, true);
  } 
  var role = {};
  var departments = [];
  var functions = [];
  $('#update').click(function(){
	  zTreeOnClick();
	  if(role.departments == '' || role.departments == undefined){
		  return layer.msg('请选择数据权限',{time:800});
	  }
	  if(role.functions == '' || role.functions == undefined){
		  return layer.msg('请选择功能权限',{time:800});
	  }
	  for(var i=0;i<functions.length;i++){
		  //测试权限
		  if(functions[i].id == 30 && role.verlevel.length == 0){
			  return layer.msg('测试角色请勾选所负责的版本层级');
		  }
	  }
	   $.ajax({
		  url:'/roles',
		  type:'put',
		  beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
		  },
		  data:JSON.stringify(role),
		  contentType:'application/json;charset=UTF-8',
		  dataType:'json',
		  success:function(res){
			  if(res.status == 200){
				  top.layer.msg('更新成功',{icon:1,time:800});
				  parent.$('.layui-laypage-btn').click();
				  parent.layer.closeAll();
			  }else if(res.status == 403){
				  layer.msg('没有角色更新权限!',{icon:0});
			  }else{
				  layer.msg('角色更新失败!',{icon:0});
			  }
		  },
		  error:function(){
			  layer.msg("出错了!");
		  }
	  }); 
  })
  
  function zTreeOnClick(event, treeId, treeNode) { 
	  var roleName = $('#name').val();
	  var id = $('#roleid').val();
	  var createTime = $('#createTime').val();
	  var description = $('#description').val();
      var funObj = $.fn.zTree.getZTreeObj("funtree");
      var depObj = $.fn.zTree.getZTreeObj("datatree");
      departments = depObj.getCheckedNodes(true);
      functions = funObj.getCheckedNodes(true);
      verlevel = [];
      $('input[type=checkbox]:checked').each(function() {
          verlevel.push($(this).val());
      });
      
      role.verlevel = verlevel;
      role.departments = departments;
      role.functions = functions; 
      role.name = roleName;
      role.id = id;
      role.createTime = createTime;
      role.description = description;
  }
  
  function initData(data){
	  var roleid = data.id;
	  var name = data.name;
	  var createTime = data.createtime;
	  var description = data.description;
	  if(data.funcId != '' && data.funcId != undefined){
		funcId = data.funcId.split(",");
	  }
	  if(data.deptId != '' && data.deptId != undefined){
		deptId = data.deptId.split(",");
	  }
	  for(var i =0;i<funcId.length;i++){
	    var node = treeFun.getNodeByParam("id", funcId[i]);
		  if(node != null){
			treeFun.checkNode(node,true);
		  }
	  }
	  for(var i =0;i<deptId.length;i++){
	    var node = treeObj.getNodeByParam("id", deptId[i]);
		  if(node != null){
			  treeObj.checkNode(node,true)
			  var parent = node.getParentNode();
			  if(!parent.open){
				  treeObj.expandNode(parent,true,true);
			  }
		  }
	  }
	 
	  var form = '';
	  layui.use('form',function(){
		  form = layui.form;
	  })
	  if(data.levelId != '' && data.levelId != undefined){
		 var levelId = data.levelId.split(",");
		 var check = $('input[type=checkbox]');
		 for(var i=0;i<check.length;i++){
			 for(var j=0;j<levelId.length;j++){
				 if(levelId[j] == check[i].value){
					 check[i].checked = true;
					 break;
				 }
			 }
		 }
		 form.render();
	  }
	  
	  $('#roleid').val(roleid);
	  $('#name').val(name);
	  $('#createTime').val(createTime);
	  $('#description').val(description);
  }
//树操作函数
  function beforeDrag(treeId, treeNodes) {
  	for (var i=0,l=treeNodes.length; i<l; i++) {
  		if (treeNodes[i].drag === false) {
  			return false;
  		}
  	}
  	return true;
  }
  function beforeDrop(treeId, treeNodes, targetNode, moveType) {
	  var checkedNodes = treeObj.getCheckedNodes();
	  	 var selectedNodes = treeObj.getSelectedNodes();
  	return targetNode ? targetNode.drop !== false : true;
  }

 layui.use(['tree','util'], function(){
  var tree = layui.tree;
  var util = layui.util;
  
	  
	  $('.demoTable .layui-btn').on('click', function(){
	    var type = $(this).data('type');
	    active[type] ? active[type].call(this) : '';
	  });
}); 
</script>

</body>
</html>