<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title>维护，待我处理，我处理的同一视图</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="../../layui-v2.5.6/layui/css/layui.css">
  <script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../../js/xm-select.js"></script>
</head>
<style type="text/css">
.layui-textarea {
	width: 81%;
}

.layui-tab {
	margin: 0px 0;
	text-align: left !important;
	padding: 10px;
}

.layui-form-item {
	margin-bottom: 8px;
	clear: both;
	*zoom: 1;
}

 .layui-required:after {
	content: "*";
	color: red;
	position: absolute;
} 
</style>
<body style="">

	<div class="layui-tab layui-tab-card">
		<ul class="layui-tab-title">
			<li id="liapply" class="layui-this">版本申请</li>
			<li id="libuild">版本构建测试</li>
			<li>版本发布日志</li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show" id="cardapply">
				<form class="layui-form" action="" style="margin-top: 20px">
					<div class="layui-form-item">
						<label class="layui-form-label">项目名称</label>
						<div class="layui-input-block">
							<input type="text" name="projName" id="projName"
								lay-verify="title" autocomplete="off" class="layui-input"
								style="width: 81%">
								<input type="hidden" id="status"/>
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">产品线</label>
							<div class="layui-input-inline">
								<select id="deptId">
									<option value="">选择或搜索</option>
									<option value="134">产品一部</option>
									<option value="132">产品二部</option>
									<option value="133">产品三部</option>
									<option value="135">产品四部</option>
									<option value="162">产品五部</option>
									<option value="136">派科斯</option>
									<option value="155">软件部</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">客户名称</label>
							<div class="layui-input-inline">
								<select id="client" lay-search="">
									<option value="">选择或搜索</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label" style="width: 84px">被测产品大类</label>
							<div class="layui-input-inline">
								<select id="product" lay-search="">
									<option value="">选择或搜索</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label layui-required">料号</label>
							<div class="layui-input-inline">
								<input type="text" name="subPartNo" lay-verify="required"
									id="subPartNo" autocomplete="off" class="layui-input">
								<input type="hidden" id="flowNo" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">测试类型</label>
							<div class="layui-input-inline">
								<select id="testType" lay-search="">
									<option value="">选择或搜索</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">版本类型</label>
							<div class="layui-input-inline">
								<select id="verType" disabled lay-search="">
									<option value="">选择或搜索</option>
									<option value="1">正式版本</option>
									<option value="2">临时版本</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">版本层级</label>
							<div class="layui-input-inline">
								<select id="verlevel" lay-search="">
									<option value="">选择或搜索</option>
									<option value="1">产品</option>
									<option value="2">上位机</option>
									<option value="3">下位机</option>
									<option value="4">模块</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label ">版本包属性</label>
							<div class="layui-input-inline">
								<select id="pkgType" lay-search="">
									<option value="">选择或搜索</option>
									<option value="1">完整版本</option>
									<option value="2">补丁版本</option>
								</select>
							</div>
						</div>
					</div>


					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">软件名称</label>
							<div class="layui-input-inline">
								<input type="text" name="verId" id="verId" lay-verify="text"
									autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">版本号</label>
							<div class="layui-input-inline">
								<input type="text" name="verNo" id="verNo" lay-verify="text"
									autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>

					<div class="layui-form-item">

						<div class="layui-inline">
							<label class="layui-form-label ">版本申请人</label>
							<div class="layui-input-inline">
								<select lay-verify="required"  disabled id="applicant" lay-search="">
									<option value="">选择或搜索</option>
								</select>
							</div>
						</div>

						<div class="layui-inline">
							<label class="layui-form-label ">配置管理员</label>
							<div class="layui-input-inline">
								<select lay-verify="required" id="cfgManager" lay-search="">
									<option value="">选择或搜索</option>
								</select>
							</div>
						</div>

						<div class="layui-inline" id="test">
							<label class="layui-form-label ">测试负责人</label>
							<div class="layui-input-inline">
								<select lay-verify="required" id="testManager" lay-search="">
									<option value="">选择或搜索</option>
								</select>
							</div>
						</div>

						<div class="layui-inline" id="app">
							<label class="layui-form-label ">版本审批人</label>
							<div class="layui-input-inline">
								<select lay-verify="required" id="appManager" lay-search="">
									<option value="">选择或搜索</option>
								</select>
							</div>
						</div>

						<!-- <div class="layui-inline">
							<label class="layui-form-label layui-required">版本发布人</label>
							<div class="layui-input-inline">
								<select lay-verify="required" id="publisher" lay-search="">
									<option value="">选择或搜索</option>
								</select>
							</div>
						</div> -->

					</div>

					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">版本描述</label>
						<div class="layui-input-block">
							<textarea  id="verInfo" placeholder="版本描述"
								autocomplete="off"  class="layui-textarea"></textarea>
						</div>
					</div>
					<div class="layui-form-item layui-form-text" id="build">
						<label class="layui-form-label">版本构建说明</label>
						<div class="layui-input-block">
							<textarea placeholder="应说明版本包由哪些部分组成，每一部分从哪里以何种方式获取"
								id="buildInfo"  class="layui-textarea"></textarea>
						</div>
					</div>

					<div class="layui-form-item layui-form-text" id="temp">
						<label class="layui-form-label">临时版本申请原因</label>
						<div class="layui-input-block">
							<input type="text" id="tempInfo" placeholder="临时版本申请原因"
								autocomplete="off" style="width: 81%" class="layui-input">
						</div>
					</div>

					<!-- <div class="layui-form-item layui-form-text">
						<label class="layui-form-label">发布说明</label>
						<div class="layui-input-block">
							<input type="text" id="pubComment" placeholder="发布说明"
								autocomplete="off" style="width: 81%" class="layui-input">
						</div>
					</div> -->

				</form>
			</div>
			<div class="layui-tab-item" id="cardbuild">
				<div class="layui-form-item layui-form-text " id="appdiv">
					<label class="layui-form-label">版本审批说明</label>
					<div class="layui-input-block">
						<input type="text" id="appComment"  placeholder="版本审批说明"
							autocomplete="off" style="width: 81%" class="layui-input">
					</div>
				</div>
				
				<div class="layui-form-item layui-hide" id="appbtn">
					<div class="layui-input-block">
						<button type="button" class="layui-btn layui-btn-normal"
							id="refPublish">拒绝发布</button>
						<button type="button" class="layui-btn" lay-submit=""
							id="argPublish">同意发布</button>
					</div>
				</div>
				
				<hr id="lineapp" class="layui-bg-green layui-hide">

				<form class="layui-form">

					<div class="layui-form-item layui-form-text " id="builddiv">
						<label class="layui-form-label">版本构建备注</label>
						<div class="layui-input-block">
							<input type="text" id="buildComment" 
								placeholder="版本构建备注" autocomplete="off" style="width: 81%"
								class="layui-input">
						</div>
					</div>

					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label" name="build">版本提取路径</label>
						<div class="layui-input-block">
							<input type="text" id="verPath"  placeholder="正确路径格式如:\Software\研发部\软件部\publish\Sensor\mfs_compass_sensor_dtable\V1.1.4"
								autocomplete="off" lay-verify="required" style="width: 81%" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item layui-hide" id="buildbtn">
						<div class="layui-input-block">
							<button type="button" lay-submit="" class="layui-btn" id="buildPub">发布</button>
							<button type="button" lay-submit="" class="layui-btn" id="buildFin">构建完成</button>
						</div>
					</div>

				</form>

				<hr id="linebuild" class="layui-bg-green">

				<form class="layui-form">
					<div id="testtemp">
						<div class="layui-form-item">
							<div class="layui-inline">
								<span><label class="layui-form-label" name="test">发现缺陷数</label></span>
							</div>
							<div class="layui-inline">
								<span><label class="layui-form-label" name="test">A级(致命)</label></span>
								<div class="layui-input-inline">
									<input type="number" style="width: 65px" id="fbuga"
										lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<span><label class="layui-form-label" name="test">B级(严重)</label></span>
								<div class="layui-input-inline">
									<input type="number" style="width: 65px" id="fbugb"
										lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<span><label class="layui-form-label" name="test">C级(一般)</label></span>
								<div class="layui-input-inline">
									<input type="number" style="width: 65px" id="fbugc"
										lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<span><label class="layui-form-label" name="test">D级(轻微)</label></span>
								<div class="layui-input-inline">
									<input type="number" style="width: 65px" id="fbugd"
										lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>

						<div class="layui-form-item">
							<div class="layui-inline">
								<span><label class="layui-form-label" name="test">测试时间</label></span>
								<div class="layui-input-inline">
									<input type="text" class="layui-input" autocomplete="off" lay-verify="required"
										id="startTime" placeholder="yyyy-MM-dd HH:mm:ss">
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label"
									style="text-align: center; width: 65px">-</label>
							</div>
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="text" id="endTime" autocomplete="off" lay-verify="required"
										placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input">
								</div>
							</div>

							<div class="layui-inline" id="testP">
								<label class="layui-form-label" name="test">测试人</label>
								<div class="layui-input-inline">
									<select lay-verify="required" name="testerManager" id="tester"
										lay-search="">
										<option value="">选择或搜索</option>
									</select>
								</div>
							</div>

							<div class="layui-inline" id="testR">
								<label class="layui-form-label" name="test">测试结论</label>
								<div class="layui-input-inline">
									<select lay-verify="required" lay-filter="testResult"
										id="testResult" lay-search="">
										<option value="">选择或搜索</option>
										<option value="1">通过</option>
										<option value="2">不通过</option>
									</select>
								</div>
							</div>
						</div>

						<!-- <div class="layui-form-item">
						
					</div> -->

						<div class="layui-form-item layui-form-text" id="reportdiv">
							<label class="layui-form-label">测试报告存放路径</label>
							<div class="layui-input-block">
								<input type="text" id="reportPath" placeholder="测试报告存放路径"
									autocomplete="off" style="width: 81%" class="layui-input">
							</div>
						</div>

						<div class="layui-form-item layui-form-text" id="testdiv">
							<label class="layui-form-label">测试结论说明</label>
							<div class="layui-input-block">
								<input type="text" id="testComment" placeholder="测试结论说明"
									autocomplete="off" style="width: 81%" class="layui-input">
							</div>
						</div>
					</div>

					<div class="layui-form-item " id="editPeople">
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label layui-required">通知人员</label>
							<div style="width: 75%; margin-left: 109px" id="demoSale"></div>
						</div>
					</div>
					
					<div class="layui-form-item">
			            <label class="layui-form-label editable">我的分组</label>
			            <div class="layui-input-inline">
				            <select id="myGroup" lay-filter="myGroup" name="myGroup" lay-search="">
				              <option value="">选择或搜索</option>
				            </select>
			            </div>
			            <button type="button" style="margin-left:53%;" id="testManagerBtn" onclick="testManagerDownload()" class="layui-btn layui-hide">测试文件下载</button>
		            </div>

					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">客户邮箱</label>
						<div class="layui-input-block">
							<textarea id="mails"
								placeholder="多个邮箱请以 '，' 分隔否则会导致邮件发送失败，正确格式如：ym@yanmade.com，test@163.com"
								class="layui-textarea" name=""></textarea>
						</div>
					</div>

					<div class="layui-form-item layui-hide" id="testbtn">  
						<div class="layui-input-block">
							<button type="button" lay-submit="" class="layui-btn layui-btn-normal"
								id="testterm">不通过</button>
							<button type="button" lay-submit="" class="layui-btn"
								id="testPub">发布</button>
						</div>
					</div>
					
				</form>
			</div>
			<div class="layui-tab-item">
				<h2 style="margin-left: 1%">
					发布日志
					</h3>
					<ul style="margin-left: 8%" class="layui-timeline" id="formal"></ul>
			</div>
		</div>
	</div>
	<script src="../../layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
var storage=window.localStorage;
var token = storage.getItem("token");
var xmdata = []; // 监听多选下拉框改变后数据
var grpInitData = [];  //我的分组选择之后，多选下拉框的数据
var dataPeople = '';   //在数据库已经存在的通知人员数据
function getData(){
	var infoPeople = [];
	//选择我的分组之后会重新渲染通知人员的初始化数据即为grpInitData
	if(grpInitData != '' && grpInitData.length != 0){
		$.ajax({
			url:'/versions/mydo/getUserInfoByCode?codeList='+grpInitData,
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			async:false,
			dataType:'json',
			success:function(res){
				infoPeople = res.data;
			}
		})
	}
	
	if(xmdata != '' && xmdata.length != 0){
	  for(var i=0;i<xmdata.arr.length;i++){
		if(infoPeople.indexOf(xmdata.arr[i].name) == -1){
		  infoPeople.push(xmdata.arr[i].name);
		}
      }
	}
	
	//xmdata在不点击的时候获取不到该下拉框的数据,infoPeople没值取原数据
	if(infoPeople != '' && infoPeople.length > 0){
	  infoPeople = infoPeople.join(",");
	}else{
	  infoPeople = dataPeople;
	}
	
	var verType = $('#verType').val();         
	var projName = $('#projName').val();         
	var product = $('#product').val();         
	var subPartNo = $('#subPartNo').val();         
	var testType = $('#testType').val();         
	var deptId = $('#deptId').val();         
	var client = $('#client').val();   
	var verId = $('#verId').val();
	var verNo = $('#verNo').val();
	var verlevel = $('#verlevel').val();         
	var pkgType = $('#pkgType').val();         
	var cfgManager = $('#cfgManager').val();         
	var testManager = 0;
	if(verType == 1){
		testManager = $('#testManager').val();
	}else{
		testManager = $('#appManager').val();
	}
	var publisher = $('#publisher').val();
	var verInfo = $('#verInfo').val(); 
	var tester = $('#tester').val();
	var testResult = $('#testResult').val();
	var verPath = $('#verPath').val();
	var buildInfo = $('#buildInfo').val();
	var tempInfo = $('#tempInfo').val();
	var status = $('#status').val();
	var name = 'Maintainence';
	var comment = 'maintain';
	var result = 1;
	var mails = $('#mails').val();
	return data = {projName:projName,product:product,subPartNo:subPartNo,testType:testType,deptId:deptId,client:client,
	   		  verlevel:verlevel,pkgType:pkgType,testManager:testManager,cfgManager:cfgManager,verId:verId,verNo:verNo,
			  verInfo:verInfo,verPath:verPath,buildInfo:buildInfo,tempInfo:tempInfo,status:status,publisher:publisher,
		      tester:tester,testResult:testResult,name:name,result:result,comment:comment,verType:verType,infoPeople:infoPeople,mails:mails};
}

function testdata() {
	var tester = $('#tester').val();
	var testResult = $('#testResult').val();
	var startTime = $('#startTime').val();
	var endTime = $('#endTime').val();
	var fbuga = $('#fbuga').val();
	var fbugb = $('#fbugb').val();
	var fbugc = $('#fbugc').val();
	var fbugd = $('#fbugd').val();
	var reportPath = $('#reportPath').val();
	var comment = $('#testComment').val();
	var name = 'Test';
	var mails = $('#mails').val().trim();
	if (testResult == 1) {
		var status = 6;
		var result = 1;
	} else if (testResult == 2) {
		var status = 0;
		var result = 0;
	}
	return data = {
		tester : tester,result : result,startTime : startTime,endTime : endTime,
		fbuga : fbuga,fbugb : fbugb,fbugc : fbugc,fbugd : fbugd,
		testResult : testResult,reportPath : reportPath,
		name : name,comment : comment,status : status,
		infoPeople : '',saleInfo : '',mails:mails
	};
}
//表单元素不可编辑
function editForm(i){
	var form = document.forms[i];
    for ( var i = 0; i < form.length; i++) {
      var element = form.elements[i];
	  if(element.id != 'myGroup' && element.id != 'mails' && element.className != 'xm-input xm-search-input'){
	    element.disabled = "true";
	  } 
    }

}

//测试人员下载界面
function testManagerDownload(){
	var data = {"flowNo":$('#flowNo').val()}
	 layer.open({
		  type:2,
		  title:'测试文件下载',
		  shadeClose: true,
	      shade: 0.8,
	      scrollbar: false,
	      resize:false,
	      area: ['60%', '70%'],
 	      content: '/static/templates/ver_manage/ver_download.html',
 	      success:function(layero,index){
 	    	var iframeWin = window['layui-layer-iframe' + index];
           iframeWin.initData(data);//调用修改窗口的初始化方法
 	      }
	  });
}

function initData(data,str){
	var status = data.status;
	var flowNo = data.flowNo;
	var verType = data.verType;
	
	$('#flowNo').val(flowNo);
	
	if(verType == 2){
	  $('#testtemp').addClass('layui-hide');
	}
	var saleData = [];
	//初始化下拉多选框
	var indata = data.initPeople;
	if(indata != '' && indata != undefined){
		indata = indata.split(",");
	}
	$.ajax({
		url:'/versions/getAllDistinctUR',
		type:'get',
		beforeSend:function(request){
			request.setRequestHeader("Authorization","Bearer "+token);
		},
		async:false,
		dataType:'json',
		success:function(res){
			for(var i=0; i<res.data.length; i++){ 
				var resdata = res.data[i];
				saleData.push({"value":resdata.username,"userName":resdata.username,"name":resdata.realname+"("+resdata.username+")"})
	    	}
		}
	});
	var demoSale = xmSelect.render({
		el:'#demoSale',
		initValue:indata,
		language:'zn',
		data:saleData,
		autoRow: true,
		filterable:true,
		toolbar:{show:true,list:["ALL","CLEAR"]},
	    on:function(data){
	    	xmdata = data;
	    }
	});
	
	//初始化我的分组
	$.ajax({
		url:'/myGroup/getMyGroup',
		type:'get',
		beforeSend:function(request){
			request.setRequestHeader("Authorization","Bearer "+token);
		},
		async:false,
		dataType:'json',
		success:function(res){
			var data = res.data;
			for(var i=0; i<data.length; i++){ 
	    	   $("#myGroup").append("<option value='"+data[i].groupId+"'>"+data[i].groupName+"</option>"); 
	    	}
		}
	});
	//监听我的分组
	layui.use('form',function(){
		var form = layui.form;
		form.on('select(myGroup)',function(){
			var xdata = demoSale.getValue('value');
			var groupId = $('#myGroup').val();
			$.ajax({
				url:'/myGroup/getStaff?groupId='+groupId,
				type:'get',
				beforeSend:function(request){
					request.setRequestHeader("Authorization","Bearer "+token);
				},
				async:false,
				dataType:'json',
				success:function(res){
					var data = res.data;
					for(var i=0;i<data.length;i++){
						//把我的分组里面的数据加进去
						xdata.push(data[i].staffCode);
					}
				}
			})
			//去重
			for(var i=0;i<xdata.length;i++){
				if(grpInitData.indexOf(xdata[i]) == -1){
					grpInitData.push(xdata[i]);
				}
			}
			//重新渲染下拉多选框
			demoSale.update({
				data:saleData,
				initValue:grpInitData
			})
		})
	})
	
	//版本维护
	if(str == 'keep'){
		editForm(2);
		$('#appComment').attr("disabled",true);
		$('#buildComment').attr("disabled",true);
	}
	//待我处理
	if(str == 'mydo' ){
		//待我处理默认显示标签卡的第二页
		if(status == 2 || status == 3 || status == 5 || status == 7){
			$('#liapply').removeClass('layui-this');
			$('#cardapply').removeClass('layui-show');
			$('#libuild').addClass('layui-this');
			$('#cardbuild').addClass('layui-show');
			//测试阶段增加下载测试包功能
			if(status == 3 || status == 7){
				$('#testManagerBtn').removeClass('layui-hide');
			}
		}
		//申请form表单所有元素不可编辑
		editForm(0);
		if(status == 2){
			$('#buildbtn').removeClass('layui-hide');
			$('label[name="build"]').addClass('layui-required');
			if(verType == 1){
				$('#buildPub').addClass('layui-hide');
			}else{
				$('#buildFin').addClass('layui-hide');
			}
			editForm(2);
		}else if(status == 3 || status == 7){
			$('#testbtn').removeClass('layui-hide');
			$('label[name="test"]').addClass('layui-required');
			editForm(1);
		}else if(status == 5){
			$('#appbtn').removeClass('layui-hide');
			$('#lineapp').removeClass('layui-hide');
			editForm(1);
			editForm(2);	
		}
		
		//正式版本构建请求
		$('#buildFin').click(function(){
			var infoPeople = demoSale.getValue('nameStr');
			//检查路径下是否有文件
			var verPath = $('#verPath').val().trim();
			if(verPath == '' || verPath == undefined){
				return;
			}
			/*没忽略大小写  if(!verPath.startsWith('\\Software\\研发部\\软件部\\publish') && !verPath.startsWith('/Software/研发部/软件部/publish')){
				return layer.msg('请根据文本框内的路径填写',{icon:0});
			} */
			verPath = checkPath(verPath);
			if(verPath == ''){
				return
			}
			$('#verPath').val(verPath);
			var comment = $('#buildComment').val();
			var mails = $('#mails').val().trim();
			var data = {"verPath":verPath,"status":3,"name":"Build","result":1,"comment":comment,"infoPeople":infoPeople,"mails":mails};
			$.ajax({
				url:'/versions/'+flowNo+'/build',
				type:'put',
				beforeSend:function(request){
					request.setRequestHeader("Authorization","Bearer "+token);
				},
				contentType:'application/json;charset=utf-8',
				data:JSON.stringify(data),
				dataType:'json',
				success : function(res) {
					if (res.status == 200) {
						top.layer.msg('构建成功', {icon:1,time:1200})
						window.parent.location.reload();
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					} else if (res.status == 403) {
						top.layer.msg('没有版本构建权限');
					}else if(res.status == 401){
						layer.msg('请重新登录!');
					}else {
						top.layer.msg('构建失败,可能是管理员更改了审批人，请刷新重试', {});
						parent.$(".layui-laypage-btn").click();
					}
				},
				error : function() {
					layer.msg('系统出错了');
				}
			})
		})
		
		//测试通过
		$('#testPub').click(function(){
			if(!testRequired()){
				return;
			}
			var infoPeople = demoSale.getValue("nameStr");
			var saleInfo = demoSale.getValue("valueStr");
			if(infoPeople == ''){
				return layer.msg('请选择要通知的人员!',{icon:0});
			}
			var data = testdata();
			data.infoPeople = infoPeople;
			data.saleInfo = saleInfo;
			var startTime = data.startTime;
			var endTime = data.endTime;
			if (endTime < startTime) {
				top.layer.msg("测试结束时间不能小于开始时间");
				return;
			}
			$.ajax({
				url : '/versions/' + flowNo + '/test',
				type : 'put',
				beforeSend : function(request) {request.setRequestHeader("Authorization", "Bearer "+ token);
				},
				data : JSON.stringify(data),
				contentType : 'application/json;charset=UTF-8',
				dataType : 'json',
				async : false,
				success : function(res) {
					if (res.status == 200) {
						top.layer.msg('提交成功', {icon : 1,time : 1200})
						window.parent.location.reload();
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					} else if (res.status == 403) {
						top.layer.msg('没有版本测试权限!');
					} else if(res.status == 401){
						layer.msg('请重新登录!');
					}else {
						top.layer.msg('提交失败,可能是管理员更改了审批人，请刷新重试', {icon : 0});
						parent.$(".layui-laypage-btn").click();
					}
				},
				error : function() {
					layer.msg('出错了');
				}
			});
		})
		
		//测试不通过，结束流程
		$('#testterm').click(function(){
			var infoPeople = demoSale.getValue("nameStr");
			if(!testRequired()){
				return;
			}
			var data = testdata();
			data.infoPeople = infoPeople;
			var startTime = data.startTime;
			var endTime = data.endTime;
			if (endTime < startTime) {
				top.layer.msg("测试结束时间不能小于开始时间");
				return;
			}
			$.ajax({
				url : '/versions/' + flowNo + '/test',
				type : 'put',
				beforeSend : function(request) {request.setRequestHeader("Authorization", "Bearer "+ token);
				},
				data : JSON.stringify(data),
				contentType : 'application/json;charset=UTF-8',
				dataType : 'json',
				async : false,
				success : function(res) {
					if (res.status == 200) {
						top.layer.msg('提交成功', {icon : 1,time : 1200})
						window.parent.location.reload();
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					} else if (res.status == 403) {
						top.layer.msg('没有版本测试!');
					} else if(res.status == 401){
						layer.msg('请重新登录!');
					}else {
						top.layer.msg('提交失败,可能是管理员更改了审批人，请刷新重试', {icon : 0});
						parent.$(".layui-laypage-btn").click();
					}
				},
				error : function() {
					layer.msg('出错了');
				}
			});
		})
		
		//临时版本审批同意发布
		$('#argPublish').click(function(){
			var infoPeople = demoSale.getValue('nameStr');
			var comment = $('#appComment').val();
			var mails = $('#mails').val().trim();
			var data = {'comment':comment,"status":2,"name":'Approve',"result":1,"infoPeople":infoPeople,"mails":mails}
			$.ajax({
				url : '/versions/' + flowNo + '/approve',
				type : 'put',
				beforeSend : function(request) {
					request.setRequestHeader("Authorization", "Bearer " + token);
				},
				data : JSON.stringify(data),
				contentType : 'application/json;charset=UTF-8',
				dataType : 'json',
				async : false,
				success : function(res) {
					if (res.status == 200) {
						top.layer.msg('审批成功', {icon : 1,time : 800})
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					} else if (res.status == 403) {
						top.layer.msg('没有审批审批权限', {icon : 0});
					} else if (res.status == 401) {
						layer.msg('请重新登录!');
					} else {
						top.layer.msg('审批失败,可能是管理员更改了审批人，请刷新重试 !', {icon : 0});
					}
					window.parent.location.reload();
				},
				error : function() {
					layer.msg('出错了');
				}
			});
		})
		
		//临时版本不同意发布
		$('#refPublish').click(function(){
			var infoPeople = demoSale.getValue('nameStr');
			var comment = $('#appComment').val();
			var mails = $('#mails').val().trim();
			var data = {'comment':comment,"status":101,"name":'Approve',"result":0,"infoPeople":infoPeople,"mails":mails}
			$.ajax({
				url : '/versions/' + flowNo + '/approve',
				type : 'put',
				beforeSend : function(request) {
					request.setRequestHeader("Authorization", "Bearer " + token);
				},
				data : JSON.stringify(data),
				contentType : 'application/json;charset=UTF-8',
				dataType : 'json',
				async : false,
				success : function(res) {
					if (res.status == 200) {
						top.layer.msg('审批成功', {icon : 1,time : 800})
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					} else if (res.status == 403) {
						top.layer.msg('没有审批审批权限', {icon : 0});
					} else if (res.status == 401) {
						layer.msg('请重新登录!');
					} else {
						top.layer.msg('审批失败,可能是管理员更改了审批人，请刷新重试 !', {icon : 0});
					}
					window.parent.location.reload();
				},
				error : function() {
					layer.msg('出错了');
				}
			});
		})
		
		//临时版本构建完成直接发布
		$('#buildPub').click(function(){
			var infoPeople = demoSale.getValue("nameStr");
			var saleInfo = demoSale.getValue("valueStr");
			if(infoPeople == ''){
				return layer.msg('请选择要通知的人员!',{icon:0});
			}
			//检查路径下是否有文件
			var verPath = $('#verPath').val().trim();
			if(verPath == '' || verPath == undefined){
				return;
			}
			/* if(!verPath.startsWith('\\Software\\研发部\\软件部\\publish') && !verPath.startsWith('/Software/研发部/软件部/publish')){
				return layer.msg('请根据文本框内的路径填写',{icon:0});
			} */
			verPath = checkPath(verPath);
			if(verPath == ''){
				return
			}
			$('#verPath').val(verPath);
			var comment = $('#buildComment').val();
			var mails = $('#mails').val().trim();
			var data = {"saleInfo":saleInfo,"infoPeople":infoPeople,"verPath":verPath,"status":6,"name":"Build",
					"result":1,"comment":comment,"infoPeople":infoPeople,"mails":mails};
			$.ajax({
				url:'/versions/'+flowNo+'/build',
				type:'put',
				beforeSend:function(request){
					request.setRequestHeader("Authorization","Bearer "+token);
				},
				contentType:'application/json;charset=utf-8',
				data:JSON.stringify(data),
				dataType:'json',
				success : function(res) {
					if (res.status == 200) {
						top.layer.msg('发布成功', {icon:1,time:1200})
						window.parent.location.reload();
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					} else if (res.status == 403) {
						top.layer.msg('没有版本构建权限');
					}else if(res.status == 401){
						layer.msg('请重新登录!');
					}else {
						top.layer.msg('构建失败,可能是管理员更改了审批人，请刷新重试', {});
						parent.$(".layui-laypage-btn").click();
					}
				},
				error : function() {
					layer.msg('系统出错了');
				}
			})
		})
		
	}
			
	layui.use(['form','element'],function(){
		var testres = ''
		var publishTime = data.publishTime;
		var operator = data.operator;
		var mFlowNo = data.flowNo
		var testResult = data.testResult;
		if(testResult == 1){
			testres = '通过';
		}else{
			testres = '不通过';
		}
		
		var element = layui.element;
		var form = layui.form;
		var projName = data.projName;
		var deptId = data.deptId;
		var client = data.client;
		var product = data.product;
		var subPartNo = data.subPartNo;
		var testType = data.testType;
		var verlevel = data.verlevel;
		var pkgType = data.pkgType;
		var verNo = data.verNo;
		var verId = data.verId;
		var cfgManager = data.cfgManager;
		var testManager = data.testManager;
		var createTime = data.createTime;
		var applicant = data.applicant;
		var applyTime =  data.applyTime;
		var builder = data.builder;
		var testTime =  data.testTime;
		var buildTime =  data.buildTime;
		var verPath = data.verPath;
		var verInfo = data.verInfo;
		var buildInfo = data.buildInfo;
		var tempInfo = data.tempInfo;
		var tester = data.tester;
		var publisher = data.publisher;
		var infoPeople = data.infoPeople;
		var fbuga = data.fbuga;
		var fbugb = data.fbugb;
		var fbugc = data.fbugc;
		var fbugd = data.fbugd;
		var startTime = data.startTime;
		var endTime = data.endTime;
		var reportPath = data.reportPath;
		dataPeople = data.infoPeople;
		$('#buildInfo').val(buildInfo);
		$('#infoPeople').val(infoPeople);
		$('#fbuga').val(fbuga);
		$('#fbugb').val(fbugb);
		$('#fbugc').val(fbugc);
		$('#fbugd').val(fbugd);
		$('#startTime').val(startTime);
		$('#endTime').val(endTime);
		$('#reportPath').val(reportPath);
		if (verType == 1) {
			$('#testManager').val(testManager);
			$('#testResult').val(testResult);
			$('#app').addClass('layui-hide');
			$('#appdiv').addClass('layui-hide');
			$('#temp').addClass('layui-hide');
		} else {
			$('#appManager').val(testManager);
			$('#tempInfo').val(tempInfo);
			$('#test').addClass('layui-hide');
			/*$('#testdiv').addClass('layui-hide');
			 $('#testP').addClass('layui-hide');
			$('#testR').addClass('layui-hide'); */
		}
		$.ajax({
			url:'/versions/getDistinctUR',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			async:false,
			dataType:'json',
			success:function(res){
				var count = 0;
				for(var i=0; i<res.data.length; i++){ 
					if (applicant ==res.data[i].id ){
		    			$("#applicant").append("<option value='"+res.data[i].id+"' selected >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}
					
					if (tester ==res.data[i].id  && verType == '1'){
		    			$("#tester").append("<option value='"+res.data[i].id+"' selected >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>"); 
		    		}else if(res.data[i].roleid.indexOf(3) != -1){
		    			$("#tester").append("<option value='"+res.data[i].id+"'  >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}
					
					if (cfgManager ==res.data[i].id ){
		    			$("#cfgManager").append("<option value='"+res.data[i].id+"' selected >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>"); 
		    		}else if(res.data[i].roleid.indexOf(2) != -1){
		    			$("#cfgManager").append("<option value='"+res.data[i].id+"'  >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}
					
					if (testManager ==res.data[i].id && verType == '1'){
		    			$("#testManager").append("<option value='"+res.data[i].id+"' selected >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}else if(res.data[i].roleid.indexOf(3) != -1){
		    			$("#testManager").append("<option value='"+res.data[i].id+"'  >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}
					
					if (testManager ==res.data[i].id && verType == '2' ){
		    			$("#appManager").append("<option value='"+res.data[i].id+"' selected >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>"); 
		    		}else if(res.data[i].roleid.indexOf(5) != -1){
		    			$("#appManager").append("<option value='"+res.data[i].id+"'  >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}
		    	}
				form.render('select');
			}
		});
		$.ajax({
			url:'/versions/erpDict',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			async:false,
			dataType:'json',
			success:function(res){
				var data = res.data;
				for(var i=0; i<data.length; i++){ 
					if(data[i].type == 'product'){
						if(data[i].code == product){
						  $("#product").append("<option value='"+product+"' selected>"+product+"</option>");
						}else{
		    	          $("#product").append("<option value='"+data[i].code+"'>"+data[i].code+"</option>"); 
						}
					}else if(data[i].type == 'test'){
						var test1 = data[i].code+" "+data[i].name
					  	if(test1 == testType.trim()){
					  		$("#testType").append("<option value='"+testType+"' selected>"+testType+"</option>");
					  	}else{
		    	           $("#testType").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>");
					  	}
					}else{
						var client1 = data[i].code+" "+data[i].name
						if(client1 == client.trim()){
						  $("#client").append("<option value='"+client+"' selected>"+client+"</option>");
						}else{
		    	     	  $("#client").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>"); 
						}
					}
		    	}
				form.render('select');
			}
		});
		
		
		var opdata = [];
		//获取操作表的数据
		$.ajax({
			url:'/versions/'+mFlowNo+'/getProcess',
			type:'get',
			async:false,
			dataType:'json',
			success:function(res){
				if(res.msg == "success"){
					var resdata = res.data;
					for(var i =0;i<resdata.length;i++){
						//获取姓名
						$.ajax({
							url:'/versions/getNameById?operator='+resdata[i].operator,
							type:'get',
							async:false,
						    dataType:'json',
						    success:function(res){
						    	if(res.msg == "success"){
						    		resdata[i].operator = res.data.operator;
						    	}
						    }
						});
						opdata.push({"result":resdata[i].result,"name":resdata[i].name,"opTime":resdata[i].opTime,"operator":resdata[i].operator,"comment":resdata[i].comment});
					}
				}
			}
		});
		//获取姓名
		$.ajax({
			url:'/versions/getNameById',
			type:'get',
			data:{cfgManager:cfgManager,tester:tester,testManager:testManager,publisher:publisher},
			async:false,
		    dataType:'json',
		    success:function(res){
		    	if(res.msg == "success"){
		    		cfgManager = res.data.cfgManager;
		    		tester = res.data.tester;
		    		testManager = res.data.testManager;
		    		publisher = res.data.publisher;
		    	}
		    }
		})
		for(var i=0;i<opdata.length;i++){
			if(opdata[i].name == "Apply"){
				var apply =  ' <li class="layui-timeline-item">'
					  +'  <i class="layui-icon layui-timeline-axis"></i>'
					  +'  <div class="layui-timeline-content layui-text">'
					  +'    <h3 class="layui-timeline-title">版本申请</h3>'
					  +'    <p>申请人:' +opdata[i].operator+ '</p>'
					  +'    <p>申请时间:' +dateFormat(opdata[i].opTime)+ '</p>'
				
				if(verType == 1) {
					apply = apply +'<p>构建说明:'+buildInfo+ '</p>'
					  +'  </div>' 
					  +'</li>'
				}else{
					apply = apply +'<p>临时版本申请原因:'+tempInfo+ '</p>'
					  +'  </div>' 
					  +'</li>'
				}
					 
				if(i == 0 &&　verType == 1){//待审批还是待构建
					apply =  ' <li class="layui-timeline-item">'
						  +'  <i class="layui-icon layui-timeline-axis"></i>'
						  +'  <div class="layui-timeline-content layui-text">'
						  +'    <h3 class="layui-timeline-title">版本待构建</h3>'
						  +'    <p>配置管理员:' +cfgManager+ '</p>'
						  +'  </div>'
						  +'</li>'+apply
				}else if(i == 0 && verType == 2){
					apply =  ' <li class="layui-timeline-item">'
						  +'  <i class="layui-icon layui-timeline-axis"></i>'
						  +'  <div class="layui-timeline-content layui-text">'
						  +'    <h3 class="layui-timeline-title">版本待审批</h3>'
						  +'    <p>版本审批人:' +testManager+ '</p>'
						  +'  </div>'
						  +'</li>'+apply
				}
				$('#formal').append(apply);
			}
			if(opdata[i].name == "Build"){
				var build =  '<li class="layui-timeline-item">'
				  +'  <div class="layui-timeline-content layui-text">'
				  +'  <i class="layui-icon layui-timeline-axis"></i>'
				  +'     <h3 class="layui-timeline-title">版本构建</h3>'
				  +'    <p>构建人:' +opdata[i].operator+ '</p>'
				  +'    <p>构建完成时间:' +dateFormat(opdata[i].opTime)+ '</p>'
				  +'    <p>版本提取路径:'+verPath+'</p>'
				  +'  </div>'
				  +'</li>'
				  $('#buildComment').val(opdata[i].comment);
				  if(i == 0 && verType == 1){
					  build =  '<li class="layui-timeline-item">'
						  +'  <i class="layui-icon layui-timeline-axis"></i>'
						  +'  <div class="layui-timeline-content layui-text">'
						  +'     <h3 class="layui-timeline-title">版本待测试</h3>'
						  +'    <p>测试负责人:' +testManager+ '</p>'
						  +'</li>'+build
				  }else if( verType ==2){
					  build =   '  <li class="layui-timeline-item">'
						  +'  <i class="layui-icon layui-timeline-axis"></i>'
						  +'  <div class="layui-timeline-content layui-text">'
						  +'    <h3 class="layui-timeline-title">版本已发布</h3>'
						  +'    <p>临时版本构建完成自动发布</p>'
						  +'  </div>'
						  +'</li>'+build
				  }
				  $('#formal').append(build);
			}
			if(opdata[i].name == "Test"){
				var test =   '<li class="layui-timeline-item">'
				  +'  <i class="layui-icon layui-timeline-axis"></i>'
				  +'  <div class="layui-timeline-content layui-text">'
				  +'     <h3 class="layui-timeline-title">版本测试</h3>'
				  +'    <p>测试负责人:' +opdata[i].operator+ '</p>'
				  +'    <p>测试完成时间:' +dateFormat(opdata[i].opTime)+ '</p>'
				  +'    <p>测试人:'+tester+'</p>'
				  +'    <p>测试结果:'+testres+'</p>'
				  +'</li>'
				  $('#testComment').val(opdata[i].comment);
				  if( testres =='通过'){
					  test = '  <li class="layui-timeline-item">'
						  +'  <i class="layui-icon layui-timeline-axis"></i>'
						  +'  <div class="layui-timeline-content layui-text">'
						  +'    <h3 class="layui-timeline-title">版本已发布</h3>'
						  +'    <p>正式版本测试通过自动发布</p>'
						  +'  </div>'
						  +'</li>'+test
				  }else if(  testres == '不通过'){
					  test = ' <li class="layui-timeline-item">'
						  +'  <i class="layui-icon layui-timeline-axis"></i>'
						  +'  <div class="layui-timeline-content layui-text">'
						  +'    <h3 class="layui-timeline-title">流程结束，版本未发布</h3>'
						  +'  </div>'
						  +'</li>'+test
				  }
				  $('#formal').append(test);
			}
			if(opdata[i].name == "Discard"){
				var discard = '  <li class="layui-timeline-item">'
					  +'  <i class="layui-icon layui-timeline-axis"></i>'
					  +'  <div class="layui-timeline-content layui-text">'
					  +'    <h3 class="layui-timeline-title">版本废弃</h3>'
					  +'    <p>填写人:' +opdata[i].operator+ '</p>'
					  +'    <p>填写时间:' +dateFormat(opdata[i].opTime)+ '</p>'
					  +'    <p>废弃版本原因:' +opdata[i].comment+ '</p>'
					  +'  </div>'
					  +'</li>'
					  $('#formal').append(discard);
			}
			if(opdata[i].name == "Recover"){
				var recover = '  <li class="layui-timeline-item">'
					  +'  <i class="layui-icon layui-timeline-axis"></i>'
					  +'  <div class="layui-timeline-content layui-text">'
					  +'    <h3 class="layui-timeline-title">版本恢复</h3>'
					  +'    <p>恢复人:' +opdata[i].operator+ '</p>'
					  +'    <p>恢复时间:' +dateFormat(opdata[i].opTime)+ '</p>'
					  +'  </div>'
					  +'</li>'
					  $('#formal').append(recover);
			}
			/* if(opdata[i].name == "Publish"){
				var publish = '  <li class="layui-timeline-item">'
					  +'  <i class="layui-icon layui-timeline-axis"></i>'
					  +'  <div class="layui-timeline-content layui-text">'
					  +'    <h3 class="layui-timeline-title">版本发布</h3>'
					  +'    <p>版本发布人:' +opdata[i].operator+ '</p>'
					  +'    <p>版本发布时间:' +dateFormat(opdata[i].opTime)+ '</p>'
					  +'    <p>版本发布说明:' +opdata[i].comment+ '</p>'
					  +'  </div>'
					  +'</li>'
					  $('#formal').append(publish);
			} */
			if(opdata[i].name == "Approve"){
				$('#appComment').val(opdata[i].comment)
				if(opdata[i].result == 1){
					var approve = '  <li class="layui-timeline-item">'
						  +'  <i class="layui-icon layui-timeline-axis"></i>'
						  +'  <div class="layui-timeline-content layui-text">'
						  +'    <h3 class="layui-timeline-title">版本审批</h3>'
						  +'    <p>版本审批人:' +opdata[i].operator+ '</p>'
						  +'    <p>版本审批完成时间:' +dateFormat(opdata[i].opTime)+ '</p>'
						  +'    <p>版本审批说明:' +opdata[i].comment+ '</p>'
						  +'  </div>'
						  +'</li>'
				}else{
					var approve = '  <li class="layui-timeline-item">'
						  +'  <i class="layui-icon layui-timeline-axis"></i>'
						  +'  <div class="layui-timeline-content layui-text">'
						  +'    <h3 class="layui-timeline-title">流程结束</h3>'
						  +'    <p>版本审批不通过</p>'
						  +'  </div>'
						  +'</li>'
						  +'  <li class="layui-timeline-item">'
						  +'  <i class="layui-icon layui-timeline-axis"></i>'
						  +'  <div class="layui-timeline-content layui-text">'
						  +'    <h3 class="layui-timeline-title">版本审批</h3>'
						  +'    <p>版本审批人:' +opdata[i].operator+ '</p>'
						  +'    <p>版本审批完成时间:' +dateFormat(opdata[i].opTime)+ '</p>'
						  +'    <p>版本审批说明:' +opdata[i].comment+ '</p>'
						  +'  </div>'
						  +'</li>'
				}
				
				  if(i == 0 && opdata[i].result == 1){
					  approve =  ' <li class="layui-timeline-item">'
							  +'  <i class="layui-icon layui-timeline-axis"></i>'
							  +'  <div class="layui-timeline-content layui-text">'
							  +'    <h3 class="layui-timeline-title">版本待构建</h3>'
							  +'    <p>配置管理员:' +cfgManager+ '</p>'
							  +'  </div>'
							  +'</li>'+approve
					}
					  $('#formal').append(approve);
			}
			if(opdata[i].name == "Rollback"){
				var roll = '  <li class="layui-timeline-item">'
					  +'  <i class="layui-icon layui-timeline-axis"></i>'
					  +'  <div class="layui-timeline-content layui-text">'
					  +'    <h3 class="layui-timeline-title">版本回退</h3>'
					  +'    <p>操作人:' +opdata[i].operator+ '</p>'
					  +'    <p>操作时间:' +dateFormat(opdata[i].opTime)+ '</p>'
					  +'  </div>'
					  +'</li>'
					  $('#formal').append(roll);
			}
			if(opdata[i].name == "Maintainence"){
				var roll = '  <li class="layui-timeline-item">'
					  +'  <i class="layui-icon layui-timeline-axis"></i>'
					  +'  <div class="layui-timeline-content layui-text">'
					  +'    <h3 class="layui-timeline-title">版本维护</h3>'
					  +'    <p>操作人:' +opdata[i].operator+ '</p>'
					  +'    <p>操作时间:' +dateFormat(opdata[i].opTime)+ '</p>'
					  +'  </div>'
					  +'</li>'
					  $('#formal').append(roll);
			}
			if(opdata[i].name == "Stop"){
				var stop = '  <li class="layui-timeline-item">'
					  +'  <i class="layui-icon layui-timeline-axis"></i>'
					  +'  <div class="layui-timeline-content layui-text">'
					  +'    <h3 class="layui-timeline-title">流程终止</h3>'
					  +'    <p>操作人:' +opdata[i].operator+ '</p>'
					  +'    <p>操作时间:' +dateFormat(opdata[i].opTime)+ '</p>'
					  +'  </div>'
					  +'</li>'
					  $('#formal').append(stop);
			}
		}
		var mails = data.mails;
		$('#mails').val(mails);
		$('#flowNo').val(flowNo);
		$('#projName').val(projName);
		$('#product').val(product);
		$('#deptId').val(deptId);
		$('#client').val(client);
		$('#subPartNo').val(subPartNo);
		$('#testType').val(testType);
		$('#verType').val(verType);
		$('#verlevel').val(verlevel);
		$('#pkgType').val(pkgType);
		$('#verNo').val(verNo);
		$('#verId').val(verId);
		$('#createTime').val(createTime);
		$('#applicant').val(applicant);
		$('#applyTime').val(applyTime);
		$('#builder').val(builder);
		$('#buildTime').val(buildTime);
		$('#testTime').val(testTime);
		$('#verPath').val(verPath);
		$('#verInfo').val(verInfo);
		$('#status').val(status);
		form.render();
		form.render('select');
	});
}

function checkPath(verPath){
	verPath = verPath.replace(/\\\\/g,"\\");
	verPath = verPath.replace(/\\/g,"/");
	verPath = verPath.replace(/\/\//g,"/");
	$.ajax({
		url:'/versions/checkPath?verPath='+verPath,
		type:'get',
		async:false,
		dataType:'json',
		success:function(res){
			if(res.data.length == 0){
				verPath = '';
				return layer.msg('请检查该路径下是否有所需要的文件!',{icon:0});
			}
		}
	})
	return verPath;
}

function testRequired(){
	var tester = $('#tester').val();
	var testResult = $('#testResult').val();
	var startTime = $('#startTime').val();
	var endTime = $('#endTime').val();
	var fbuga = $('#fbuga').val();
	var fbugb = $('#fbugb').val();
	var fbugc = $('#fbugc').val();
	var fbugd = $('#fbugd').val();
	if(tester == ''){
		return false;
	}
	if(testResult == ''){
		return false
	}
	if(startTime == ''){
		return false
	}
	if(endTime == ''){
		return false
	}
	if(fbuga == ''){
		return false
	}
	if(fbugb == ''){
		return false
	}
	if(fbugc == ''){
		return false
	}
	if(fbugd == ''){
		return false
	}
	return true;
}



function dateFormat(val) {
    if (val != null) {
    //	val = val - 28800000;
    	var val = val.toString();
        var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
        //月份为0-11所以+1，月份小于10补个0
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        var dd = date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + second;
        return dd;
    }
}

layui.use(['form', 'layedit', 'laydate'], function(){
	  var form = layui.form
	  ,laydate = layui.laydate;
	  //监听测试结果
	  form.on('select(testResult)',function(data){
		  var testResult = $('#testResult').val();
		  if(testResult == 1){
			  $('#testPub').removeClass('layui-hide');
			  $('#testterm').addClass('layui-hide');
		  }else if(testResult == 2){
			  $('#testPub').addClass('layui-hide');
			  $('#testterm').removeClass('layui-hide');
		  }
	  })
	  //日期
	  laydate.render({
	    elem: '#startTime'
	    	,type:'datetime'
	  });
	  laydate.render({
	    elem: '#endTime'
	    ,type:'datetime'
	  });
	  
	  //自定义验证规则
	  form.verify({  
		  path: [
		    /^\//
		    ,'请检查测试报告存放路径是否正确'
		  ]
	  });
	  
	});
</script>

</body>
</html>