<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title>修改我申请过的基本信息</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="../../layui-v2.5.6/layui/css/layui.css">
  <script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../../js/xm-select.js"></script>
</head>
<style type="text/css">
.layui-textarea {
	width: 81%;
}

.layui-form-item {
	margin-bottom: 8px;
	clear: both;
	*zoom: 1;
}
.layui-required:after {
	content: "*";
	color: red;
	position: absolute;
}
</style>
<body>
 
<form class="layui-form" action="" style="margin-top:20px">
		<div class="layui-form-item">
			<label class="layui-form-label layui-required">项目名称</label>
			<div class="layui-input-block">
				<input type="text" lay-verify="required" name="projName"
					id="projName" lay-verify="title" autocomplete="off"
					class="layui-input" style="width: 81%">
					<input type="hidden" id="flowNo"/>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label layui-required">产品线</label>
				<div class="layui-input-inline">
					<select id="deptId" lay-verify="required">
						<option value="">选择或搜索</option>
						<option value="134">产品一部</option>
						<option value="132">产品二部</option>
						<option value="133">产品三部</option>
						<option value="135">产品四部</option>
						<option value="162">产品五部</option>
						<option value="136">派科斯</option>
						<option value="155">软件部</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">客户名称</label>
				<div class="layui-input-inline">
					<select id="client" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required" style="width: 84px">被测产品大类</label>
				<div class="layui-input-inline">
					<select id="product" lay-verify="required" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">料号</label>
				<div class="layui-input-inline">
					<input type="text" name="subPartNo" lay-verify="required"
						id="subPartNo" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">测试类型</label>
				<div class="layui-input-inline">
					<select id="testType" lay-verify="required" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本类型</label>
				<div class="layui-input-inline">
					<select id="verType" lay-verify="required" lay-filter="verType"
						disabled lay-search="">
						<option value="">选择或搜索</option>
						<option value="1">正式版本</option>
						<option value="2">临时版本</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本层级</label>
				<div class="layui-input-inline">
					<select id="verlevel" lay-verify="required" lay-search="">
						<option value="">选择或搜索</option>
						<option value="1">产品</option>
						<option value="2">上位机</option>
						<option value="3">下位机</option>
						<option value="4">模块</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本包属性</label>
				<div class="layui-input-inline">
					<select id="pkgType" lay-verify="required" lay-search="">
						<option value="">选择或搜索</option>
						<option value="1">完整版本</option>
						<option value="2">补丁版本</option>
					</select>
				</div>
			</div>
		</div>

		<div class="layui-form-item">

			<div class="layui-inline">
				<label class="layui-form-label layui-required">软件名称</label>
				<div class="layui-input-inline">
					<input type="text" name="verId" layui-filter="verType" id="verId"
						lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本号</label>
				<div class="layui-input-inline">
					<input type="text" name="verNo" id="verNo" lay-verify="required"
						autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-inline">
				<label class="layui-form-label layui-required">配置管理员</label>
				<div class="layui-input-inline">
					<select lay-verify="required" lay-verify="required" disabled
						id="cfgManager" lay-search="">
					</select>
				</div>
			</div>

			<div class="layui-inline" id="test">
				<label class="layui-form-label layui-required">测试负责人</label>
				<div class="layui-input-inline">
					<select lay-verify="required" lay-verify="required" disabled
						id="testManager" lay-search="">
					</select>
				</div>
			</div>

			<div class="layui-inline" id="app">
				<label class="layui-form-label layui-required">版本审批人</label>
				<div class="layui-input-inline">
					<select lay-verify="required" lay-verify="required" disabled
						id="appManager" lay-search="">
					</select>
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">通知人员</label>
				<div style="width: 75%; margin-left: 110px" id="demoSale"></div>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">我的分组</label>
			<div class="layui-input-inline">
				<select id="myGroup" lay-filter="myGroup" lay-search="">
				    <option value="">选择或搜索</option>
				</select>
			</div>
		</div>
		
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">客户邮箱</label>
			<div class="layui-input-block">
				<textarea id="mails" placeholder="多个邮箱请以 '，' 分隔否则会导致邮件发送失败，正确格式如：ym@yanmade.com，test@163.com" class="layui-textarea"
					name=""></textarea>
			</div>
		</div>
		
        <div class="layui-form-item layui-form-text">
			<label class="layui-form-label layui-required">版本描述</label>
			<div class="layui-input-block">
				<textarea id="verInfo" placeholder="简要说明版本描述,请将字数(包括字母,数字,标点符号)控制在120个以内，字数过多会导致推送的消息被截断" class="layui-textarea"
					name=""></textarea>
			</div>
		 </div>

		<div class="layui-form-item layui-form-text" id="tarea_b">
			<label class="layui-form-label layui-required">版本构建说明</label>
			<div class="layui-input-block">
				<textarea placeholder="构建说明应包含：构建内容+程序名+版本获取路径。示例如下：
1,上位机程序：MFS_D20X_Dock_Mini_Auto_V1.0.31_2020-06-18, jenkins路径：http://192.168.0.90:8080/job/mfs_min_auto_dev/76/
2,扫码程序：Scanner.exe, 路径：build/business_modules/scanner_v1_2x_dvp/bin/ 
3,SOP3文档：燕麦Dock兼容各个版本平台小型自动主控上位机使用手册V1.doc, 路径：https://192.168.0.170/svn/Project/ym_SW/04.调测文档/SOP/Dock软件SOP" 
				lay-verify="required"	id="buildInfo" class="layui-textarea" name=""></textarea>
			</div>
		</div>

		<div class="layui-form-item layui-form-text" id="temp">
			<label class="layui-form-label">临时版本申请原因</label>
			<div class="layui-input-block">
				<textarea  id="tempInfo" class="layui-textarea" placeholder="临时版本申请原因"
					autocomplete="off"  class="layui-input"></textarea>
			</div>
		</div>

		<div class="layui-input-block layui-hide" style="margin-left: 110px"
			id="btndiv">
			<button type="button" lay-submit="" class="layui-btn" id="buildbtn">申请构建</button>
			<button type="button" lay-submit="" class="layui-btn layui-hide"
				id="approvebtn">申请审批</button>
		</div>

	</form>
<script src="../../layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
var storage=window.localStorage;
var token = storage.getItem("token");
var xmdata = [];
var dataPeople = '';
function quickApply(data){
	layui.use('form',function(){
		var form = layui.form;
		$('#btndiv').removeClass('layui-hide');
		$('#verType').removeAttr('disabled');
		$('#cfgManager').removeAttr('disabled');
		$('#testManager').removeAttr('disabled');
		$('#appManager').removeAttr('disabled');
		//监听版本类型
		form.on('select(verType)',function(obj){
			var verType = $('#verType').val();
			if(obj.value == 1){
			  $('#app').addClass('layui-hide');
			  $('#temp').addClass('layui-hide');
			  $('#test').removeClass('layui-hide');
			  $('#appManager').val('');
			  $('#testManager').val('');
			  $('#approvebtn').addClass('layui-hide');
			  $('#buildbtn').removeClass('layui-hide');
			}else{
			  $('#test').addClass('layui-hide');
			  $('#app').removeClass('layui-hide');
			  $('#temp').removeClass('layui-hide');
			  $('#testManager').val('');
			  $('#appManager').val('');
			  $('#buildbtn').addClass('layui-hide');
			  $('#approvebtn').removeClass('layui-hide');
			}
			form.render('select');
		});
		form.render('select');
	});
	
}

function initData(data){
	layui.use('form',function(){
		var form = layui.form;
		//监听版本类型
		var status = data.status
		var flowNo = data.flowNo;
		var projName = data.projName;
		var deptId = data.deptId;
		var client = data.client;
		var product = data.product;
		var subPartNo = data.subPartNo;
		var testType = data.testType;
		var verType = data.verType;
		var verlevel = data.verlevel;
		var pkgType = data.pkgType;
		var verNo = data.verNo;
		var verId = data.verId;
		var cfgManager = data.cfgManager;
		var testManager = data.testManager;
		var applicant = data.applicant;
		var verPath = data.verPath;
		var verInfo = data.verInfo;
		var buildInfo = data.buildInfo;
		var tempInfo = data.tempInfo;
		var tester = data.tester;
		var publisher = data.publisher;
		var mails = data.mails;
		dataPeople = data.infoPeople;
		$('#buildInfo').val(buildInfo);
		if (verType == 1) {
			$('#testManager').val(testManager);
			$('#app').addClass('layui-hide');
			$('#temp').addClass('layui-hide');
		} else {
			$('#tempInfo').val(tempInfo);
			$('#appManager').val(testManager);
			$('#test').addClass('layui-hide');
			$('#buildbtn').addClass('layui-hide');
			$('#approvebtn').removeClass('layui-hide');
		}
		
		var saleData = [];
		//初始化下拉多选框
		var indata = data.initPeople;
		if(indata != '' && indata != undefined){
			indata = indata.split(",");
		}
		$.ajax({
			url:'/versions/getAllDistinctUR',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			async:false,
			dataType:'json',
			success:function(res){
				for(var i=0; i<res.data.length; i++){ 
					var resdata = res.data[i];
				saleData.push({"value":resdata.username,"userName":resdata.username,"name":resdata.realname+"("+resdata.username+")"})
		    	}
			}
		});
		var demoSale = xmSelect.render({
			el:'#demoSale',
			initValue:indata,
			language:'zn',
			autoRow: true,
			data:saleData,
			filterable:true,
			toolbar:{show:true,list:["ALL","CLEAR"]},
		    on:function(data){
		    	xmdata = data;
		    }
		});
		
		//初始化我的分组
		$.ajax({
			url:'/myGroup/getMyGroup',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			async:false,
			dataType:'json',
			success:function(res){
				var data = res.data;
				for(var i=0; i<data.length; i++){ 
		    	   $("#myGroup").append("<option value='"+data[i].groupId+"'>"+data[i].groupName+"</option>"); 
		    	}
			}
		});
		//监听我的分组
		form.on('select(myGroup)',function(){
			var xdata = demoSale.getValue('value');
			var groupId = $('#myGroup').val();
			$.ajax({
				url:'/myGroup/getStaff?groupId='+groupId,
				type:'get',
				beforeSend:function(request){
					request.setRequestHeader("Authorization","Bearer "+token);
				},
				async:false,
				dataType:'json',
				success:function(res){
					var data = res.data;
					for(var i=0;i<data.length;i++){
						//把我的分组里面的数据加进去
						xdata.push(data[i].staffCode);
					}
				}
			})
			//去重
			var temp = [];
			for(var i=0;i<xdata.length;i++){
				if(temp.indexOf(xdata[i]) == -1){
					temp.push(xdata[i]);
				}
			}
			//重新渲染下拉多选框
			demoSale.update({
				data:saleData,
				initValue:temp
			})
		})
		
		$.ajax({
			url:'/versions/getDistinctUR',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			async:false,
			dataType:'json',
			success:function(res){
				for(var i=0; i<res.data.length; i++){ 
					if (cfgManager ==res.data[i].id ){
		    			$("#cfgManager").append("<option value='"+res.data[i].id+"' selected >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>"); 
		    		} else if(res.data[i].roleid.indexOf(2) != -1){
		    			$("#cfgManager").append("<option value='"+res.data[i].id+"'  >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}
					
					if (testManager ==res.data[i].id && verType == '1'){
		    			$("#testManager").append("<option value='"+res.data[i].id+"' selected >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		} else if(res.data[i].roleid.indexOf(3) != -1){
		    			$("#testManager").append("<option value='"+res.data[i].id+"'  >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}
					
					if (testManager ==res.data[i].id && verType == '2' ){
		    			$("#appManager").append("<option value='"+res.data[i].id+"' selected >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>"); 
		    		} else if(res.data[i].roleid.indexOf(5) != -1){
		    			$("#appManager").append("<option value='"+res.data[i].id+"'  >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}
		    	}
				form.render('select');
			}
		});
		$.ajax({
			url:'/versions/erpDict',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			async:false,
			dataType:'json',
			success:function(res){
				var data = res.data;
				for(var i=0; i<data.length; i++){ 
					if(data[i].type == 'product'){
						if(data[i].code == product){
						  $("#product").append("<option value='"+product+"' selected>"+product+"</option>");
						}else{
		    	          $("#product").append("<option value='"+data[i].code+"'>"+data[i].code+"</option>"); 
						}
					}else if(data[i].type == 'test'){
						var test1 = data[i].code+" "+data[i].name
					  	if(test1 == testType.trim()){
					  		$("#testType").append("<option value='"+testType+"' selected>"+testType+"</option>");
					  	}else{
		    	           $("#testType").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>");
					  	}
					}else{
						var client1 = data[i].code+" "+data[i].name
						if(client1 == client.trim()){
						  $("#client").append("<option value='"+client+"' selected>"+client+"</option>");
						}else{
		    	     	  $("#client").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>"); 
						}
					}
		    	}
				form.render('select');
			}
		});
		$('#status').val(status);
		$('#flowNo').val(flowNo);
		$('#projName').val(projName);
		$('#product').val(product);
		$('#deptId').val(deptId);
		$('#client').val(client);
		$('#subPartNo').val(subPartNo);
		$('#testType').val(testType);
		$('#verType').val(verType);
		$('#verlevel').val(verlevel);
		$('#pkgType').val(pkgType);
		$('#verNo').val(verNo);
		$('#verId').val(verId);
		$('#verPath').val(verPath);
		$('#verInfo').val(verInfo);
		$('#mails').val(mails);
		form.render();
		form.render('select');
	});
}

//申请审批或者构建的请求
function reqApply(){
	var msg = '申请失败';
	var buildInfo = $('#buildInfo').val();
	var pattern = new RegExp("[%]");
	if(pattern.test(buildInfo)){
		return layer.msg('版本构建说明不能包含特殊字符!',{icon:0});
	}
	var verType = $('#verType').val();
	var data = getData();
	if(verType == '1'){
	  data.status = 2;
	}else{
	  data.status = 5;
	}
	$.ajax({
		url:'/versions/apply',
		type:'post',
		async:false,
		beforeSend:function(request){
			request.setRequestHeader("Authorization","Bearer "+token);
		},
		data:JSON.stringify(data),
		contentType:'application/json;charset=UTF-8',
		dataType:'json',
		success:function(data){
			if(data.status == 200){
			  top.layer.msg('申请成功',{icon:1});
			  parent.layer.closeAll('iframe');
			  parent.$(".layui-laypage-btn").click();
			}else if(data.status == 403){
			  top.layer.msg('没有版本申请权限!',{icon:1,time:1200});
			}else if(data.status == 401){
			  layer.msg('请重新登录');
			}else if(data.status == 208){
			  layer.msg('版本已存在请勿重复构建');
			}else{
			  layer.msg('申请失败');
			}
		}
		,error:function(){
			layer.msg('出错了');
		}
	});
}

$('#buildbtn').click(function(){
	if(!required()){
		return;
	}  
	var mails = $('#mails').val();
	if(mails.length > 499){
		return layer.msg('客户邮箱字数太多了!');
	}
	reqApply();
});
$('#approvebtn').click(function(){
	 if(!required()){
		return;
	}   
    var mails = $('#mails').val();
	if(mails.length > 499){
		return layer.msg('客户邮箱字数太多了!');
	}
	reqApply(); 
});

function getData(){
	var infoPeople = [];
	if(xmdata != '' && xmdata.length != 0){
	  for(var i=0;i<xmdata.arr.length;i++){
		infoPeople.push(xmdata.arr[i].name);
      }
	}
	//xmdata为监听通知人员下拉框数据，在不点击的时候获取不到该下拉框的数据
	if(infoPeople != '' && infoPeople.length > 0){
	  infoPeople = infoPeople.join(",");
	}else{
	  infoPeople = dataPeople;
	}
	var verType = $('#verType').val();         
	var projName = $('#projName').val();         
	var product = $('#product').val();         
	var subPartNo = $('#subPartNo').val();         
	var testType = $('#testType').val();         
	var deptId = $('#deptId').val();         
	var client = $('#client').val();   
	var verId = $('#verId').val();
	var verNo = $('#verNo').val();
	var verlevel = $('#verlevel').val();         
	var pkgType = $('#pkgType').val();         
	var verInfo = $('#verInfo').val(); 
	var buildInfo = $('#buildInfo').val();
	var tempInfo = $('#tempInfo').val();
	var flowNo = $('#flowNo').val();
	var cfgManager = $('#cfgManager').val();
	var test = $('#testManager').val();
	var app = $('#appManager').val();
	var mails = $('#mails').val();
	if(verType == 1){
		testManager = test;
	}else{
		testManager = app;
	}
//	var name = 'Myupdate';
	return data = {projName:projName,product:product,subPartNo:subPartNo,testType:testType,deptId:deptId,client:client,infoPeople:infoPeople,
	   		  verlevel:verlevel,pkgType:pkgType,verId:verId,verNo:verNo,verInfo:verInfo,buildInfo:buildInfo,verType:verType,mails:mails,
	   		  tempInfo:tempInfo,flowNo:flowNo,status:0,result:1,name:'Apply',cfgManager:cfgManager,testManager:testManager};
}

function  required(){
	var projName = $('#projName').val();         
	var product = $('#product').val();         
	var subPartNo = $('#subPartNo').val();         
	var testType = $('#testType').val();         
	var verType = $('#verType').val();         
	var deptId = $('#deptId').val();         
	var client = $('#client').val();         
	var verlevel = $('#verlevel').val();         
	var pkgType = $('#pkgType').val();         
	var verId = $('#verId').val();         
	var verNo = $('#verNo').val();         
	var cfgManager = $('#cfgManager').val();         
	var verInfo = $('#verInfo').val();         
	var test = $('#testManager').val();
	var app = $('#appManager').val();
	var buildInfo = $('#buildInfo').val();
	var tempInfo = $('#tempInfo').val();
	var testManager = '';
	if(verType == 2){
		testManager = app;
	}else{
		testManager = test;
	}
    if(projName == undefined || projName == ''){
    	return false;
    }
    if(product == undefined || product == ''){
    	return false;
    }
    if(subPartNo == undefined || subPartNo == ''){
    	return false;
    }
    if(testType == undefined || testType == ''){
    	return false;
    }
    if(verType == undefined || verType == ''){
    	return false;
    }
    if(deptId == undefined || deptId == ''){
    	return false;
    }
    if(client == undefined || client == ''){
    	return false;
    }
    if(verlevel == undefined || verlevel == ''){
    	return false;
    }
    if(pkgType == undefined || pkgType == ''){
    	return false;
    }
    if(verId == undefined || verId == ''){
    	return false;
    }
    if(verNo == undefined || verNo == ''){
    	return false;
    }
    if(cfgManager == undefined || cfgManager == ''){
    	return false;
    }
    if(testManager == undefined || testManager == ''){
    	return false;
    }
    if(verInfo == undefined || verInfo == ''){
    	return false;
    }
    if(buildInfo == undefined || buildInfo == ''){
    	return false;
    }
    return true;
} 
</script>

</body>
</html>