<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title>更新我的分组</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../../layui-v2.5.6/layui/css/layui.css"  media="all">
  <script type="text/javascript" src="../../../js/jquery-2.1.1.min.js"></script>
  <!-- ztree -->
	<link href="../../../ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
	<script src="../../../ztree/js/jquery.ztree.all.js"></script>
	<script src="/static/js/common.js" charset="utf-8"></script>
</head>
<body>
	 <div style="margin-top:50px;">
	 	 <button type="submit" class="layui-btn" id="addGroup">新增分组</button>
	 </div>
	 <table id="myGroup" class="layui-table" lay-filter="demo"></table>
<script src="../../../layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs layui-btn" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>        
 
<script>
var storage=window.localStorage;
var token = storage.getItem("token");
$('#addGroup').click(function(){
	layer.open({
	  type:2,
	  title:'新增分组',
      shadeClose: true,
	  shade: 0.8,
	  scrollbar: false,
      resize:false,
	  area: ['45%', '45%'],
	  content: "/static/templates/sec_manage/apply_group/add_group.html",
	  success:function(layero,index){
	  }
	})
})
layui.use('table', function(){
  var table = layui.table;
  table.render({
    elem: '#myGroup'
    ,url:'/applyGroup'
   	,parseData:function(res){ 
       	return parseData(res); //common.js里面
     }
    ,headers:{Authorization:"Bearer "+token}
    ,page:true
    ,id:'myGroup'
    ,cols: [[
       {field:'name', align:'center',title: '组名'}
      ,{field:'staffName',align:'center', title: '组成员'}
      ,{field:'',align:'center', title: '操作',templet:"#barDemo"}
    ]]
  });
  
  table.on('tool(demo)',function(obj){
	  var data = obj.data;
	  if(obj.event == 'edit'){
		  layer.open({
			  type:2,
			  title:'更新我的分组',
			  shadeClose: true,
		      shade: 0.8,
		      scrollbar: false,
		      resize:false,
		      area: ['45%', '45%'],
	  	      content: '/static/templates/sec_manage/apply_group/update_group.html',
	  	      success:function(layero,index){
	  	    	var iframeWin = window['layui-layer-iframe' + index];
	            iframeWin.initData(data);//调用修改窗口的初始化方法
	  	      }
		  });
	  }else if(obj.event == 'delete'){
		  layer.confirm('确定删除吗？', function(index){
	  		  var groupId = data.groupId;
	  		  $.ajax({
	  			  url:'/applyGroup?groupId='+groupId,
	  			  type:'delete',
	  			  beforeSend:function(request){
    				 request.setRequestHeader("Authorization","Bearer "+token);
    			  },
	  			  dataType:'json',
	  			  success:function(res){
	  				  if(res.msg == "success"){
	  					  layer.msg('删除成功',{icon:1,time:800});
	  					  $(".layui-laypage-btn").click();
	  				  }else{
	  					  layer.msg('删除失败',{icon:0,time:800});
	  				  }
	  			  },
	  			  error:function(){
	  				  layer.msg('系统出错了!',{time:1000})
	  			  }
	  		  })
	      });
	  }
  })
	  
});
</script>

</body>
</html>