<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title>Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="../../layui-v2.5.6/layui/css/layui.css">
  <script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../../js/xm-select.js"></script>
</head>
<style type="text/css">
	.layui-textarea{
		width:81%;
	}
</style>
<body>
 
<form class="layui-form" action="" style="margin-top:20px">
  <div class="layui-form-item">
    <label class="layui-form-label">项目名称</label>
    <div class="layui-input-block">
      <input type="text" name="projName" id="projName" lay-verify="title" disabled autocomplete="off"  class="layui-input" style="width:81%">
      <input type="hidden" name="flowNo" id="flowNo"   autocomplete="off"  class="layui-input" >
      <input type="hidden"  id="cfgManager"   autocomplete="off"  class="layui-input" >
      <input type="hidden"  id="testManager"   autocomplete="off"  class="layui-input" >
      <input type="hidden"  id="createTime"   autocomplete="off"  class="layui-input" >
      <input type="hidden"  id="applicant"   autocomplete="off"  class="layui-input" >
      <input type="hidden"  id="applyTime"   autocomplete="off"  class="layui-input" >
      <input type="hidden"  id="buildTime"   autocomplete="off"  class="layui-input" >
      <input type="hidden"  id="testTime"   autocomplete="off"  class="layui-input" >
      <input type="hidden"  id="builder"   autocomplete="off"  class="layui-input" >
      <input type="hidden" " id="buildTime"   autocomplete="off"  class="layui-input" >
       <input type="hidden" " id="verInfo"   autocomplete="off"  class="layui-input" >
       <input type="hidden" " id="buildInfo"   autocomplete="off"  class="layui-input" >
       <input type="hidden" " id="tempInfo"   autocomplete="off"  class="layui-input" >
       <input type="hidden" " id="publisher"   autocomplete="off"  class="layui-input" >
    </div>
  </div>
  
   <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">产品线</label>
      <div class="layui-input-inline">
        <select  id="deptId"  disabled >
          <option value="">选择或搜索</option>
            <option value="134">产品一部</option>
          <option value="132">产品二部</option>
          <option value="133">产品三部</option>
          <option value="135">产品四部</option>
          <option value="162">产品五部</option>
          <option value="136">派科斯</option>
          <option value="155">软件部</option>
        </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">客户名称</label>
      <div class="layui-input-inline">
        <select  id="client" disabled lay-search="">
          <option value="">选择或搜索</option>
        </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label" style="width:84px">被测产品大类</label>
      <div class="layui-input-inline">
        <select  id="product" disabled lay-search="">
          <option value="">选择或搜索</option>
        </select>
      </div>
    </div>
   <div class="layui-inline">
      <label class="layui-form-label layui-required">料号</label>
      <div class="layui-input-inline">
        <input type="text" name="subPartNo" lay-verify="required" disabled id="subPartNo" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
   <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">测试类型</label>
      <div class="layui-input-inline">
        <select  id="testType"  disabled lay-search="">
          <option value="">选择或搜索</option>
        </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">版本类型</label>
      <div class="layui-input-inline">
        <select  id="verType" disabled lay-search="">
          <option value="">选择或搜索</option>
          <option value="1">正式版本</option>
          <option value="2">临时版本</option>
        </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">版本层级</label>
      <div class="layui-input-inline">
        <select  id="verlevel" disabled lay-search="">
          <option value="">选择或搜索</option>
          <option value="1">产品版本</option>
          <option value="2">上位机</option>
          <option value="3">下位机</option>
          <option value="4">模块</option>
        </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label ">版本包属性</label>
      <div class="layui-input-inline">
        <select   id="pkgType" disabled lay-search="">
          <option value="">选择或搜索</option>
          <option value="1">完整版本</option>
          <option value="2">补丁版本</option>
        </select>
      </div>
    </div>
  </div>
  
  
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">软件名称</label>
      <div class="layui-input-inline">
        <input type="text" name="verId" id="verId" lay-verify="text" disabled autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">版本号</label>
      <div class="layui-input-inline">
        <input type="text" name="verNo" id="verNo" lay-verify="text" disabled  autocomplete="off" class="layui-input">
      </div>
    </div>
     <div class="layui-inline" id="testP">
      <label class="layui-form-label layui-required" >测试人</label>
      <div class="layui-input-inline">
        <select  lay-verify="required" name="appManager" disabled id="tester" lay-search="">
          <option value="">选择或搜索</option>
        </select>
      </div>
    </div>
    <div class="layui-inline" id="testR">
      <label class="layui-form-label layui-required" >测试结论</label>
      <div class="layui-input-inline">
        <select  lay-verify="required"  disabled id="testResult" lay-search="">
          <option value="">选择或搜索</option>
          <option value="1">通过</option>
          <option value="2">不通过</option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="layui-form-item layui-form-text">
      <label class="layui-form-label layui-required" >通知人员</label>
      <div style="width:76%;margin-left:109px" id="demoSale" ></div>
  </div>
  
  <div class="layui-form-item layui-form-text">
     <label class="layui-form-label editable">我的分组</label>
     <div class="layui-input-inline">
        <select id="myGroup" lay-filter="myGroup" name="myGroup" lay-search="">
          <option value="">选择或搜索</option>
        </select>
     </div>
  </div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">客户邮箱</label>
		<div class="layui-input-block">
			<textarea id="mails"
				placeholder="多个邮箱请以 '，' 分隔否则会导致邮件发送失败，正确格式如：ym@yanmade.com，test@163.com"
				class="layui-textarea" name=""></textarea>
		</div>
	</div>


		<div class="layui-form-item">
    <div class="layui-input-block">
      <button type="button" class="layui-btn layui-btn-normal" id="sendSale">消息推送</button>
    </div>
  </div>
</form>
<script src="../../layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
var storage=window.localStorage;
var token = storage.getItem("token");
var saleData = [];
var indata = '';
var grpInitData = [];  //我的分组选择之后，多选下拉框的数据
function initData(data){
	layui.use('form',function(){
		var form = layui.form;
		var flowNo = data.flowNo;
		var projName = data.projName;
		var deptId = data.deptId;
		var client = data.client;
		var product = data.product;
		var subPartNo = data.subPartNo;
		var testType = data.testType;
		var verType = data.verType;
		var verlevel = data.verlevel;
		var pkgType = data.pkgType;
		var verNo = data.verNo;
		var verId = data.verId;
		var cfgManager = data.cfgManager;
		var testManager = data.testManager;
		var createTime = data.createTime;
		var applicant = data.applicant;
		var publisher = data.publisher;
		var applyTime =  data.applyTime;
		var builder = data.builder;
		var testTime =  data.testTime;
		var buildTime =  data.buildTime;
		var testResult = data.testResult;
		var verPath = data.verPath;
		var verInfo = data.verInfo;
		var buildInfo = data.buildInfo;
		var tempInfo = data.tempInfo;
		var tester = data.tester;
		var mails = data.mails;
		//初始化下拉多选框
		indata = data.initPeople;
		if(indata != '' && indata != undefined){
			indata = indata.split(",");
		}
		$.ajax({
			url:'/versions/getAllDistinctUR',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			async:false,
			dataType:'json',
			success:function(res){
				for(var i=0; i<res.data.length; i++){ 
					var resdata = res.data[i];
					saleData.push({"value":resdata.username,"userName":resdata.username,"name":resdata.realname+"("+resdata.username+")"})
		    	}
			}
		});
		var demoSale = xmSelect.render({
			el:'#demoSale',
			initValue:indata,
			language:'zn',
			autoRow: true,
			data:saleData,
			filterable:true,
			toolbar:{show:true,list:["ALL","CLEAR"]}
		});
		
		//初始化我的分组
		$.ajax({
			url:'/myGroup/getMyGroup',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			dataType:'json',
			success:function(res){
				var data = res.data;
				for(var i=0; i<data.length; i++){ 
		    	   $("#myGroup").append("<option value='"+data[i].groupId+"'>"+data[i].groupName+"</option>"); 
		    	}
			}
		});
		
		//监听我的分组
		layui.use('form',function(){
			var form = layui.form;
			form.on('select(myGroup)',function(){
				debugger
				var xdata = demoSale.getValue('value');
				var groupId = $('#myGroup').val();
				$.ajax({
					url:'/myGroup/getStaff?groupId='+groupId,
					type:'get',
					beforeSend:function(request){
						request.setRequestHeader("Authorization","Bearer "+token);
					},
					async:false,
					dataType:'json',
					success:function(res){
						var data = res.data;
						for(var i=0;i<data.length;i++){
							//把我的分组里面的数据加进去
							xdata.push(data[i].staffCode);
						}
					}
				})
				//去重
				for(var i=0;i<xdata.length;i++){
					if(grpInitData.indexOf(xdata[i]) == -1){
						grpInitData.push(xdata[i]);
					}
				}
				//重新渲染下拉多选框
				demoSale.update({
					data:saleData,
					initValue:grpInitData
				})
			})
		})
		
		//点击事件定义在函数内部
		$('#sendSale').click(function(){
			var sendSale = demoSale.getValue('valueStr');
			var userInfo = demoSale.getValue('nameStr');
			if(sendSale == ''){
				return layer.msg('请选择要通知的人员!');
			}
			var flowNo = $('#flowNo').val();         
			var projName = $('#projName').val();         
			var verId = $('#verId').val();         
			var verNo = $('#verNo').val();         
			var publisher = $('#publisher').val();         
			var verInfo = $('#verInfo').val();         
			var verType = $('#verType').val();         
			var mails = $('#mails').val().trim();         
			var data = {flowNo:flowNo,projName:projName,verNo:verNo,verId:verId,publisher:publisher,verInfo:verInfo,userInfo:userInfo,mails:mails};
			$.ajax({
				url:'/phone/'+sendSale+'/updateSale',
				type:'get',
				data:data,
				dataType:'json',
				success:function(res){
					if(res.msg == 'success'){
						top.layer.msg('提醒成功',{icon:1,time:1200})
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
						parent.$(".layui-laypage-btn").click()
					}else{
						top.layer.msg('提醒失败');
					}
					
				},
				error:function(){
					layer.msg('出错了');
				}
				
			});
		})
		
		if (verType == 1) {
			$('#testResult').val(testResult);
		} else {
			$('#testP').addClass('layui-hide');
			$('#testR').addClass('layui-hide');
		}  
		$.ajax({
			url:'/versions/users',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
	//		async:false,
			dataType:'json',
			success:function(res){
				for(var i=0; i<res.data.length; i++){ 
					if (tester ==res.data[i].id && verType == 1){
		    			$("#tester").append("<option value='"+res.data[i].id+"' selected >"+res.data[i].realname+"("+res.data[i].username+")"+"</option>"); 
		    		}else{
		    	       $("#tester").append("<option value='"+res.data[i].id+"'>"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
		    		}
		    	}
				form.render('select');
			}
		});
		$.ajax({
			url:'/versions/erpDict',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
	//		async:false,
			dataType:'json',
			success:function(res){
				var data = res.data;
				for(var i=0; i<data.length; i++){ 
					if(data[i].type == 'product'){
						if(data[i].code == product){
						  $("#product").append("<option value='"+product+"' selected>"+product+"</option>");
						}else{
		    	          $("#product").append("<option value='"+data[i].code+"'>"+data[i].code+"</option>"); 
						}
					}else if(data[i].type == 'test'){
						var test1 = data[i].code+" "+data[i].name
					  	if(test1 == testType.trim()){
					  		$("#testType").append("<option value='"+testType+"' selected>"+testType+"</option>");
					  	}else{
		    	           $("#testType").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>");
					  	}
					}else{
						var client1 = data[i].code+" "+data[i].name
						if(client1 == client.trim()){
						  $("#client").append("<option value='"+client+"' selected>"+client+"</option>");
						}else{
		    	     	  $("#client").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>"); 
						}
					}
		    	}
				form.render('select');
			}
		});
		$('#flowNo').val(flowNo);
		$('#projName').val(projName);
		$('#product').val(product);
		$('#deptId').val(deptId);
		$('#client').val(client);
		$('#subPartNo').val(subPartNo);
		$('#testType').val(testType);
		$('#verType').val(verType);
		$('#verlevel').val(verlevel);
		$('#pkgType').val(pkgType);
		$('#verNo').val(verNo);
		$('#verId').val(verId);
		$('#cfgManager').val(cfgManager);
		$('#testManager').val(testManager);
		$('#createTime').val(createTime);
		$('#applicant').val(applicant);
		$('#applyTime').val(applyTime);
		$('#builder').val(builder);
		$('#buildTime').val(buildTime);
		$('#testTime').val(testTime);
		$('#tester').val(tester);
		$('#verPath').val(verPath);
		$('#verInfo').val(verInfo);
		$('#buildInfo').val(buildInfo);
		$('#tempInfo').val(tempInfo);
		$('#publisher').val(publisher);
		$('#mails').val(mails);
		form.render();
	});
	
	
}

</script>

</body>
</html>