.addimg {
    background: url(../Content/image/on.png) no-repeat center;
}

.delimg {
    background: url(../Content/image/off.png) no-repeat center;
}

.saveimg {
    background: url(../Content/image/save-as.ico) no-repeat center;
}

.editimg {
    background: url(../Content/image/edit.png) no-repeat center;
}
.p5 {
padding: 5px;
}

.bottom {
    /*background-color: #D5D8DE;
        border: 1px solid #C0C3C9;*/
    text-align: center;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /* for IE6 */
    _position: absolute;
    _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
    overflow: visible;
}