/*
缩小layui-table 的间距
}*/
.input-text, .btn, .input-text.size-M, .btn.size-M {
    height: 38px;
}
label, .placeholder {
    font-size: 12px;
}
.layui-input, .layui-textarea {
    display: inline-block; 
    width: 80%;
}
.layui-table, .layui-table-view {
    margin: 4px 0;
}
.layui-input, .layui-select, .layui-textarea {
    height: 30px;
}
.input-text, .btn, .input-text.size-M, .btn.size-M {
    height: 30px;
}
.layui-table-tool {
    min-height: 44px;
}
.layui-tab {
    margin: 4px 0;
}
.layui-table-body .layui-table-cell {
    height: auto;
} 
.layui-table-view .layui-table td, .layui-table-view .layui-table th {
    padding: 0px 0;
}
#badSelect .layui-input {
    width: 100%;
}
#testSelect .layui-input {
    width: 100%;
}
#fcySelect .layui-input {
    width: 100%;
}
