<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>版本申请</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css"
	href="../../layui-v2.5.6/layui/css/layui.css">
<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../js/xm-select.js"></script>
</head>
<style type="text/css">
.layui-textarea {
	width: 73%;
}

.layui-required:after {
	content: "*";
	color: red;
	position: absolute;
}
.layui-form-label {
    padding: 9px 5px;
}
body {
    font: 10px;
}
.layui-form-item .layui-inline {
    margin-bottom: 0px;
    margin-right: 0px;
     width: 22%;
}
.layui-form-item .layui-input-inline {
    margin-right: 0px; 
}
.layui-input-block {
    margin-left: 0px; 
}
</style>
<body>

	<form class="layui-form" id="applyForm" style="margin-top: 20px">
		<div class="layui-form-item">
			<label class="layui-form-label layui-required">项目名称</label>
			<div class="layui-input-block ">
				<input type="text" id="projName" lay-verify="required"
					class="layui-input" style="width: 73%">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label layui-required">产品线</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="deptId" lay-filter = "deptId" lay-search="">
						<option value="">选择或搜索</option>
						<option value="134">产品一部</option>
						<option value="132">产品二部</option>
						<option value="133">产品三部</option>
						<option value="135">产品四部</option>
						<option value="162">产品五部</option>
						<option value="136">派科斯</option>
						<option value="155">软件部</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">客户名称</label>
				<div class="layui-input-inline">
					<select id="client" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required" style="width: 84px">被测产品大类</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="product" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">料号</label>
				<div class="layui-input-inline">
					<input type="text" name="subPartNo" lay-verify="required"
						id="subPartNo" autocomplete="off" class="layui-input">
				</div>
			</div>

		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label layui-required">测试类型</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="testType" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本类型</label>
				<div class="layui-input-inline">
					<select name="verType" lay-filter="verType" lay-verify="required"
						id="verType" lay-search="">
						<option value="">选择或搜索</option>
						<option value="1">正式版本</option>
						<option value="2">临时版本</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本层级</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="verlevel" lay-filter="verlevel" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本包属性</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="pkgType" lay-search="">
						<option value="">选择或搜索</option>
						<option value="1">完整版本</option>
						<option value="2">补丁版本</option>
					</select>
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label layui-required">软件名称</label>
				<div class="layui-input-inline">
					<input type="text" name="verId" id="verId" lay-verify="required"
						autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本号</label>
				<div class="layui-input-inline">
					<input type="text" name="verNo" id="verNo" lay-verify="required"
						autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">配置管理员</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="cfgManager" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline" id="test">
				<label class="layui-form-label layui-required">测试负责人</label>
				<div class="layui-input-inline">
					<select lay-verify="required" name="testManager" id="testManager"
						lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline" id="approval" style="display: none">
				<label class="layui-form-label layui-required">版本审批人</label>
				<div class="layui-input-inline">
					<select lay-verify="required" name="appManager" id="testManager1"
						lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">通知人员</label>
				<div style="width: 73%; margin-left: 90px" id="demoSale"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">我的分组</label>
			<div class="layui-input-inline">
				<select id="myGroup" lay-filter="myGroup" lay-search="">
				    <option value="">选择或搜索</option>
				</select>
			</div>
		</div>
			<!-- <div class="layui-inline">
				<label class="layui-form-label">版本发布人</label>
				<div class="layui-input-inline">
					<select id="publisher" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div> -->

		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">客户邮箱</label>
			<div class="layui-input-block">
				<textarea id="mails" placeholder="多个邮箱请以 '，' 分隔否则会导致邮件发送失败，正确格式如：ym@yanmade.com，test@163.com" class="layui-textarea"
					name=""></textarea>
			</div>
		</div>
		
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label layui-required">版本描述</label>
			<div class="layui-input-block">
				<textarea id="verInfo" placeholder="简要说明版本描述，请将字数(包括字母,数字,标点符号)控制在120个以内，字数过多会导致推送的消息被截断" class="layui-textarea"
					name=""></textarea>
			</div>
		</div>

		<div class="layui-form-item layui-form-text" id="tarea_b">
			<label class="layui-form-label layui-required">版本构建说明</label>
			<div class="layui-input-block">
				<textarea placeholder="构建说明应包含：构建内容+程序名+版本获取路径。示例如下：
1,上位机程序：MFS_D20X_Dock_Mini_Auto_V1.0.31_2020-06-18, jenkins路径：http://192.168.0.90:8080/job/mfs_min_auto_dev/76/ 
2,扫码程序：Scanner.exe, 路径：build/business_modules/scanner_v1_2x_dvp/bin/ 
3,SOP3文档：燕麦Dock兼容各个版本平台小型自动主控上位机使用手册V1.doc, 路径：https://192.168.0.170/svn/Project/ym_SW/04.调测文档/SOP/Dock软件SOP" 
				lay-verify="required"	id="buildInfo" class="layui-textarea" name=""></textarea>
			</div>
		</div>

		<div class="layui-form-item layui-form-text" id="tarea_r"
			style="display: none">
			<label class="layui-form-label">临时版本申请原因</label>
			<div class="layui-input-block">
				<textarea placeholder="说明申请临时版本原因" class="layui-textarea"
					id="tempInfo" name=""></textarea>
			</div>
		</div>
		
		<div class="layui-input-block" style="margin-left:110px">
		<button type="reset" class="layui-btn layui-btn-danger" id="reset">重置</button>
		<!-- <button type="button" class="layui-btn layui-btn-normal"  id="save">保存</button> -->
		<button type="button" lay-submit=""  class="layui-btn" id="build">申请构建</button>
		<button type="button" lay-submit="" class="layui-btn" id="approve"
			style="display: none">申请审批</button>
		<!-- <button type="button"  class="layui-btn" id="close">关闭</button> -->
	</div>
	</form>
	<script src="../../layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
	<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
	<script>
	//监听版本号自动加上“V"
	$("#verNo").blur(function(){
		var verNo = $('#verNo').val();
		if(verNo != ''){
			verNo = verNo.toUpperCase();
			if(verNo.startsWith("V")){
				$("#verNo").val(verNo);
				return;
			}
			verNo = "V"+verNo;
			$("#verNo").val(verNo);
		}
	})
	//从localstorage获取Bearer token
	var storage=window.localStorage;
	var token = storage.getItem("token");
	//下拉多选框赋值渲染
	var saleData = [],temp = [];
	function initSale(){
	$.ajax({
		url:'/versions/getAllDistinctUR',
		type:'get',
		beforeSend:function(request){
			request.setRequestHeader("Authorization","Bearer "+token);
		},
		async:false,
		dataType:'json',
		success:function(res){
			for(var i=0; i<res.data.length; i++){ 
				var resdata = res.data[i];
				saleData.push({"value":resdata.username,"userName":resdata.username,"name":resdata.realname+"("+resdata.username+")"})
	    	}
		}
		});
	}
	initSale();
	var demoSale = xmSelect.render({
		el:'#demoSale',
		language:'zn',
		autoRow: true,
		data:saleData,
		filterable:true,
		toolbar:{show:true,list:["ALL","CLEAR"]}
	});
//初始化下拉框用户
init();
function init(){
	var width = $(document.body).width();
	var layui_select = width*22/100 - 100;
	$('.layui-form-item .layui-input-inline ').css("width",layui_select-10);
	layui.use('form',function(){
		var form = layui.form;
		
		//初始化版本层级
		$.ajax({
			url:'/roles/verlevel',
			type:'get',
			dataType:'json',
			success:function(res){
				if(res.status != 200 || res.data.length == 0){
					return;
				}
				var data = res.data;
				for(var i=0;i<data.length;i++){
					$('#verlevel').append('<option value='+data[i].id+'>'+data[i].verlevel+'</option>')
				}
				form.render('select');
			}
		})
		
		$.ajax({
			url:'/versions/usersRoles',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			dataType:'json',
			success:function(res){
				for(var i=0; i<res.data.length; i++){ 
				  if(res.data[i].roleid == 2 ){
		    	    $("#cfgManager").append("<option value='"+res.data[i].id+"'>"+res.data[i].realname+"("+res.data[i].username+")"+"</option>");
				  }else if(res.data[i].roleid == 5 ){
		    	    $("#testManager1").append("<option value='"+res.data[i].id+"'>"+res.data[i].realname+"("+res.data[i].username+")"+"</option>"); 
				  }else if(res.data[i].roleid == 4 ){
		    	    $("#publisher").append("<option value='"+res.data[i].id+"'>"+res.data[i].realname+"("+res.data[i].username+")"+"</option>"); 
				  }
		    	}
				form.render('select');
			}
		});
		
		//测试人员初始化
		var paramData = {"deptId":0};
		getUserRoles(form,paramData);
		
		$.ajax({
			url:'/versions/erpDict',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			dataType:'json',
			success:function(res){
				var data = res.data;
				for(var i=0; i<data.length; i++){ 
					if(data[i].type == 'product'){
		    	      $("#product").append("<option value='"+data[i].code+"'>"+data[i].code+"</option>"); 
					}else if(data[i].type == 'test'){
		    	      $("#testType").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>");
					}else{
		    	      $("#client").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>"); 
					}
		    	}
		    	form.render('select');
			}
		});
		//初始化我的分组
		$.ajax({
			url:'/myGroup/getMyGroup',
			type:'get',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			dataType:'json',
			success:function(res){
				var data = res.data;
				for(var i=0; i<data.length; i++){ 
		    	   $("#myGroup").append("<option value='"+data[i].groupId+"'>"+data[i].groupName+"</option>"); 
		    	}
				form.render('select');
			}
		});
		//监听我的分组
		form.on('select(myGroup)',function(){
			var xdata = demoSale.getValue('value');
			var groupId = $('#myGroup').val();
			$.ajax({
				url:'/myGroup/getStaff?groupId='+groupId,
				type:'get',
				beforeSend:function(request){
					request.setRequestHeader("Authorization","Bearer "+token);
				},
				async:false,
				dataType:'json',
				success:function(res){
					var data = res.data;
					for(var i=0;i<data.length;i++){
						//把我的分组里面的数据加进去
						xdata.push(data[i].staffCode);
					}
				}
			})
			//去重
			var temp = [];
			for(var i=0;i<xdata.length;i++){
				if(temp.indexOf(xdata[i]) == -1){
					temp.push(xdata[i]);
				}
			}
			//重新渲染下拉多选框
			demoSale.update({
				data:saleData,
				initValue:temp
			})
		})
		form.render();
	})
}
//申请审批或者构建的请求
function reqApply(){
	var msg = '申请失败';
	var buildInfo = $('#buildInfo').val();
	var pattern = new RegExp("[%]");
	if(pattern.test(buildInfo)){
		return layer.msg('版本构建说明不能包含"%"!',{icon:0});
	}
	var verType = $('#verType').val();
	var data = redata();
	if(verType == '1'){
		data.status = 2;
	}else{
		data.status = 5;
	}
	$.ajax({
		url:'/versions/apply',
		type:'post',
		async:false,
		beforeSend:function(request){
			request.setRequestHeader("Authorization","Bearer "+token);
		},
		data:JSON.stringify(data),
		contentType:'application/json;charset=UTF-8',
		dataType:'json',
		success:function(data){
			if(data.status == 200){
			  top.layer.msg('申请成功',{icon:1});
			}else if(data.status == 403){
			  top.layer.msg('没有版本申请权限!',{icon:1,time:1200});
			}else if(data.status == 401){
			  layer.msg('请重新登录');
			}else if(data.status == 208){
			  layer.msg('版本已存在请勿重复构建');
			}else{
			  layer.msg('申请失败');
			}
		}
		,error:function(){
			layer.msg('出错了');
		}
	});
}

$('#approve').click(function(){
	if(!required()){
		return;
	}  
	var mails = $('#mails').val().trim();
	if(mails.length > 499){
		return layer.msg('客户邮箱字数太多了!');
	}
	reqApply();
});
$('#build').click(function(){
	 if(!required()){
		return;
	}   
    var mails = $('#mails').val().trim();
	if(mails.length > 499){
		return layer.msg('客户邮箱字数太多了!');
	}
	reqApply(); 
});


 function  required(){
	var projName = $('#projName').val();         
	var product = $('#product').val();         
	var subPartNo = $('#subPartNo').val();         
	var testType = $('#testType').val();         
	var verType = $('#verType').val();         
	var deptId = $('#deptId').val();         
	var client = $('#client').val();         
	var verlevel = $('#verlevel').val();         
	var pkgType = $('#pkgType').val();         
	var verId = $('#verId').val();         
	var verNo = $('#verNo').val();         
	var cfgManager = $('#cfgManager').val();         
	var verInfo = $('#verInfo').val();         
	var test = $('#test').find('select[name="testManager"]').val();
	var app = $('#approval').find('select[name="appManager"]').val();
	var buildInfo = $('#buildInfo').val();
	var tempInfo = $('#tempInfo').val();
	var testManager = '';
	if(verType == 2){
		testManager = app;
	}else{
		testManager = test;
	}
    if(projName == undefined || projName == ''){
    	return false;
    }
    if(product == undefined || product == ''){
    	return false;
    }
    if(subPartNo == undefined || subPartNo == ''){
    	return false;
    }
    if(testType == undefined || testType == ''){
    	return false;
    }
    if(verType == undefined || verType == ''){
    	return false;
    }
    if(deptId == undefined || deptId == ''){
    	return false;
    }
    if(client == undefined || client == ''){
    	return false;
    }
    if(verlevel == undefined || verlevel == ''){
    	return false;
    }
    if(pkgType == undefined || pkgType == ''){
    	return false;
    }
    if(verId == undefined || verId == ''){
    	return false;
    }
    if(verNo == undefined || verNo == ''){
    	return false;
    }
    if(cfgManager == undefined || cfgManager == ''){
    	return false;
    }
    if(testManager == undefined || testManager == ''){
    	return false;
    }
    if(verInfo == undefined || verInfo == ''){
    	return false;
    }
    if(buildInfo == undefined || buildInfo == ''){
    	return false;
    }
    return true;
} 

function redata(){
	var projName = $('#projName').val();         
	var product = $('#product').val();         
	var subPartNo = $('#subPartNo').val();         
	var testType = $('#testType').val();         
	var verType = $('#verType').val();         
	var deptId = $('#deptId').val();         
	var client = $('#client').val();         
	var verlevel = $('#verlevel').val();         
	var pkgType = $('#pkgType').val();         
	var verId = $('#verId').val();         
	var verNo = $('#verNo').val();         
	var cfgManager = $('#cfgManager').val();         
	var verInfo = $('#verInfo').val();         
	var currenter = $('#cfgManager').val(); 
	var test = $('#test').find('select[name="testManager"]').val();
	var app = $('#approval').find('select[name="appManager"]').val();
	var buildInfo = $('#buildInfo').val();
	var tempInfo = $('#tempInfo').val();
	//var publisher = $('#publisher').val();
	if(verType == 2){ 
		testManager = app;
	}else{
		testManager = test;
	}
	var infoPeople = demoSale.getValue('nameStr');
	var mails = $('#mails').val().trim();
	var data = {projName:projName,product:product,subPartNo:subPartNo,testType:testType,deptId:deptId,client:client,
			    verlevel:verlevel,pkgType:pkgType,verId:verId,verNo:verNo,cfgManager:cfgManager,testManager:testManager,
			    verInfo:verInfo,verType:verType,builder:cfgManager,tempInfo:tempInfo,buildInfo:buildInfo,infoPeople:infoPeople,
			    status:0, name:'Apply',result:1,mails:mails};
	return data;
}

function getUserRoles(form,data){
	$.ajax({
		url:'/users/getUserRolesByDept',
		data:data,
		type:'get',
		beforeSend:function(request){
			request.setRequestHeader("Authorization","Bearer "+token);
		},
		dataType:'json',
		success:function(res){
			if(deptId != 0){
				$('#testManager option').not('option:first').remove();
			}
			
			for(var i=0; i<res.data.length; i++){ 
			  if(res.data[i].funame.indexOf('version.test') > -1 ){
	    	    $("#testManager").append("<option value='"+res.data[i].id+"'>"+res.data[i].realname+"("+res.data[i].username+")"+"</option>"); 
			  }
	    	}
			form.render('select');
		}
	});
}

 layui.use('form', function(){
  var form = layui.form;
  
  form.on('select(deptId)',function(data){
	  var verlevel = $('#verlevel').val();
	  var paramData = {"verlevel":verlevel};
	  if(data.value == ''){
		  paramData.deptId = 0;
	  }else{
		  paramData.deptId = data.value;
	  }
	  getUserRoles(form,paramData);
	  
  })
  
  form.on('select(verlevel)',function(data){
	  var verlevel = data.value;
	  var deptId = $('#deptId').val();
	  var paramData = {"verlevel":verlevel};
	  if(deptId == ''){
		  paramData.deptId = 0;
	  }else{
		  paramData.deptId = deptId;
	  }
	  getUserRoles(form,paramData);
   })
  
  form.on('select(verType)',function(data){
	  if(data.value == undefined || data.value == ''){
		  return;
	  }
	  if(data.value == '1'){
		  $('#test').removeClass('layui-hide');
		  $('#test').attr('diplay','inline-block');
		  $('#approval').addClass('layui-hide');
		  /* $('#tarea_b').removeClass('layui-hide');
		  $('#tarea_b').attr('diplay','block'); */
		  $('#tarea_r').addClass('layui-hide');
		  $('#build').removeClass('layui-hide');
		  $('#build').attr('diplay','inline-block');
		  $('#approve').addClass('layui-hide');
		  $('#approval').find('select[name="appManager"]').removeAttr('lay-verify');
		  $('#test').find('select[name="testManager"]').attr('lay-verify','required');
		  $('#approval').find('select[name="appManager"]').val('');
		  $('#tempInfo').val('');
		  form.render('select');
		 // $('#buildInfo').attr('lay-verify','required')
	  }else{
		  $('#test').addClass('layui-hide');
		  $('#approval').removeClass('layui-hide');
		  $('#approval').css('display','inline-block');
		  /* $('#tarea_b').addClass('layui-hide'); */
		  $('#tarea_r').removeClass('layui-hide');
		  $('#tarea_r').css('display','block');
		  $('#build').addClass('layui-hide');
		  $('#approve').removeClass('layui-hide');
		  $('#approve').css('display','inline-block');
		  $('#approval').find('select[name="appManager"]').attr('lay-verify','required');
		  $('#test').find('select[name="testManager"]').removeAttr('lay-verify');  
		  $('#test').find('select[name="testManager"]').val('');
		  form.render('select');
		//  $('#buildInfo').val('');
		//  $('#buildInfo').removeAttr('lay-verify');
	  }  
  })
 }); 
 $('#close').click(function(){
 })
</script>


</body>
</html>