<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title>版本维护</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../layui-v2.5.6/layui/css/layui.css"  media="all">
  <script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
  <script src="/static/js/common.js" charset="utf-8"></script>
   <style type="text/css">
  .layui-form-item .layui-inline {
    margin-bottom: 0px;
    margin-right: 5px;
}
.layui-form-item {
    margin-bottom: 8px;
}
.layui-table, .layui-table-view {
     margin: 0 0; 
}
  </style>
</head>
<body>
<form class="layui-form" action="" style="margin-top:20px">
  <div class="layui-form-item">
    <label class="layui-form-label">版本流水号</label>
    <div class="layui-input-inline">
      <input type="text" id="flowNo"   autocomplete="off"  class="layui-input" >
    </div>
    <label class="layui-form-label">版本标识：</label>
    <div class="layui-input-inline">
      <input type="text" id="verId"  autocomplete="off"  class="layui-input" >
    </div>
    <label class="layui-form-label">版本号</label>
    <div class="layui-input-inline">
      <input type="text"  id="verNo" autocomplete="off"  class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">处理时间</label>
      <div class="layui-input-inline">
        <input type="text" class="layui-input" id="sTime" placeholder="yyyy-MM-dd HH:mm:ss">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label" style="text-align:center;width:50px">-</label>
    </div>
    <div class="layui-inline">
      <div class="layui-input-inline">
       <input type="text" class="layui-input" id="eTime" placeholder="yyyy-MM-dd HH:mm:ss">
      </div>
    </div>
  </div>
  
</form>
    <div class="layui-input-block">
      <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="reset">重置</button>
      <button type="submit" class="layui-btn layui-btn-sm" style="margin-left: 50px;" data-type="reload" id="search">查询</button>
    </div>
	<table class="layui-table" lay-filter="demo" id="keeptable"></table>
              
<script src="../../layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-submit layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="rollback">回退</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="term">终止流程</a>
</script>        
 <script type="text/html" id="status">
  {{#  if(d.status == 1){ }}
    <div style="color: white;width:82px;line-height:25px;text-align:center;background: #5a98de;border-radius: 7px;">待申请</div>
  {{#  } else if(d.status == 2) { }}
    <div style="color: white;width:82px;line-height:25px;text-align:center;background:#2d93de;border-radius: 7px;">待构建</div>
  {{#  } else if(d.status == 3) { }}
    <div style="color: white;width:82px;line-height:25px;text-align:center;background:#199287;border-radius: 7px;">待测试</div>
 {{#  } else if(d.status == 4) { }}
    <div style="color: white;width:82px;line-height:25px;text-align:center;background:#009688;border-radius: 7px;">待发布</div>
 {{#  } else if(d.status == 5) { }}
    <div style="color: white;width:82px;line-height:25px;text-align:center;background:#943e0c ;border-radius: 7px;">待审批</div>
  {{#  } else { }}
   <div style="color: white;width:82px;line-height:25px;text-align:center;background: #f37b1d;border-radius: 7px;">测试中</div>
{{#  } }}
</script> 
<script>
$('#reset').click(function(){
	  $('#flowNo').val('');
	  $('#verId').val('');
	  $('#verNo').val('');
	  $('#sTime').val('');
	  $('#eTime').val('');
});
var storage=window.localStorage;
var token = storage.getItem("token");
layui.use('table', function(){
	  var table = layui.table;
	  
	  table.render({
	    elem: '#keeptable'
	    ,url:'/versions/maintenance'
    	,parseData:function(res){ 
        	return parseData(res); //common.js里面
        }
	    ,headers:{Authorization:"Bearer "+token}
	    ,cols: [[
	      {field: '',align:'center',width:'210',toolbar: '#barDemo',title:'操作'}
	      ,{field:'status',align:'center',width:'95',title: '状态',templet:'#status'}
	      ,{field:'projName', title: '项目名称',width:'350'}
	      ,{field:'deptId',width:'100', title: '产品线',templet:function(d){
	    	  if(d.deptId == 134){
	    		  return '产品一部'
	    	  }else if(d.deptId == 132){
	    		  return '产品二部'
	    	  }else if(d.deptId == 133){
	    		  return '产品三部'
	    	  }else if(d.deptId == 135){
	    		  return '产品四部'
	    	  }else if(d.deptId == 162){
	    		  return '产品五部'
	    	  }else if(d.deptId == 136){
	    		  return '派科斯'
	    	  }else if(d.deptId == 155){
	    		  return '软件部'
	    	  }else{
	    		  return '产品线'
	    	  }
	      }}
	      ,{field:'client',width:'131', title: '客户名称'}
	      ,{field:'verId',width:'234', title: '软件名称'}
	      ,{field:'verNo',width:'102', title: '版本号'}
	      ,{field:'buildTime',width:'145',sort:true,title: '构建完成时间',templet:function(d){
	    	  if(d.buildTime == undefined){
	    		  return '未构建';
	    	  }else{
	    		  return dateFormat(d.buildTime);
	    	  }
	      }}
	      ,{field:'',width:'103', title: '当前处理人',templet:function(d){
	    	  if(d.status == 2){
	    		  return d.cfgName;
	    	  }else{
	    		  return d.testName;
	    	  }
	      }}
	      ,{field:'verlevel',width:'85', title: '版本范围',templet:function(d){
	    	  if(d.verlevel == 1){
	    		  return '产品';
	    	  }else if(d.verlevel == 2){
	    		  return '上位机';
	    	  }else if(d.verlevel == 3){
	    		  return '下位机';
	    	  }else if(d.verlevel == 4){
	    		  return '模块';
	    	  }else{
	    		  return '默认';
	    	  }
	      }}
	      ,{field:'verType',width:'100', title: '版本类型',templet:function(d){
	    	  if(d.verType == 1){
	    		  return '正式版本';
	    	  }else if(d.verType == 2){
	    		  return '临时版本';
	    	  }
	      }}
	      ,{field:'product',width:'119', title: '被测产品大类'} 
	      ,{field:'subPartNo',width:'119', title: '料号'}
	      ,{field:'flowNo',width:'170', title: '版本流水号'}
	    ]]
	  	,id:'test'
	    ,page: true
	  });
	  
	  table.on('tool(demo)',function(obj){
		  var data = obj.data;
		  var flowNo = data.flowNo;
		  var content ='';
		  var title = '';
		  if(obj.event == 'edit'){
			  var status = data.status;
			  /* if(status == 1){  //待申请
				  content = '/static/templates/ver_manage/ver_apply_edit.html';
				  title = '版本申请';
			  }else if(status == 2){ //待构建
				  content = '/static/templates/ver_manage/ver_build.html'
				  title = '版本构建';
			  }else if(status == 3){ //待测试
				  content = '/static/templates/ver_manage/ver_test.html'
					  title = '版本测试';
			  }else if(status == 4){  //待发布
				  content = '/static/templates/ver_manage/ver_publish.html'
					  title = '版本发布';
			  }else if(status == 5){  //待审批
				  content = '/static/templates/ver_manage/ver_approval.html'
					  title = '版本审批';
			  }else{} */
			  var title = '';
			  var content = '/static/templates/mywork/mydone_process.html';
			  layer.open({
				  type:2,
				  title:title,
				  shadeClose: true,
			      shade: 0.8,
			      scrollbar: false,
			      resize:false,
			      area: ['90%', '90%'],
		  	      btn:['更新','取消'],
		  	      content: content,
		  	      success:function(layero,index){
		  	    	var iframeWin = window['layui-layer-iframe' + index];
		            iframeWin.initData(data,'keep');//调用修改窗口的初始化方法
		       //     iframeWin.hidebtn(data);
		  	      },
			     btn1:function(index,layero){
			    	var body = layer.getChildFrame('body', index);
		            var iframeWin = window[layero.find('iframe')[0]['name']]; 
		            var datas = iframeWin.getData();
		            var projName = datas.projName;
		            var deptId = datas.deptId;
		            var product = datas.product;
		            var subPartNo = datas.subPartNo;
		            var testType = datas.testType;
		            var verlevel = datas.verlevel;
		            var verType = datas.verType;
		            var pkgType = datas.pkgType;
		            var tester = datas.tester;
		            var testResult = datas.testResult;
		            var verInfo = datas.verInfo;
		            var buildInfo = datas.buildInfo;
		            var verPath = datas.verPath;
		            var cfgManager = datas.cfgManager;
		            var testManager = datas.testManager;
		            var publisher = datas.publisher;
		            var status = datas.status;
		            var mails = datas.mails;
		        	if(mails.length > 499){
		        		return layer.msg('客户邮箱字数太多了!');
		        	}
		            if( tester == '' && verType == 1 && status == 4){
		            	return layer.msg('测试人不能为空');
		            }
		            if( testResult == '' && verType == 1 && status == 4){
		            	return layer.msg('测试结果不能为空');
		            }
		            if( cfgManager == ''){
		            	return layer.msg('配置管理员不能为空');
		            }
		            if( buildInfo == '' ){
		            	return layer.msg('版本构建说明不能为空');
		            }
		            if( testManager == ''){
		            	return layer.msg('测试负责人不能为空');
		            }
		            if( publisher == ''){
		            	return layer.msg('版本发布人不能为空');
		            }
		            if( verInfo == ''){
		            	return layer.msg('版本描述不能为空');
		            }
		            if( verPath == ''　&& (status == 3 || status == 7) ){
		            	return layer.msg('版本提取路径不能为空');
		            }
		            if(projName == '' ){
		            	return layer.msg('项目名不能为空');
		            }
		            if(deptId == '' ){
		            	return layer.msg('产品线不能为空');
		            }
		            if(subPartNo == '' ){
		            	return layer.msg('子料号序号不能为空');
		            }
		            if(product == '' ){
		            	return layer.msg('被测产品大类不能为空');
		            }
		            if(testType == '' ){
		            	return layer.msg('测试类型不能为空');
		            }
		            if(verlevel == '' ){
		            	return layer.msg('版本层级不能为空');
		            }
		            if(pkgType == '' ){
		            	return layer.msg('版本包属性不能为空');
		            }
		            //检查路径下是否有文件
		            if(status == 3 || status == 7){
	            	   /* if(!verPath.startsWith('\\Software\\研发部\\软件部\\publish') && !verPath.startsWith('/Software/研发部/软件部/publish')){
						  return layer.msg('请根据文本框内的路径填写',{icon:0});
					   } */
						verPath = verPath.replace(/\\\\/g,"\\");
						verPath = verPath.replace(/\\/g,"/");
						verPath = verPath.replace(/\/\//g,"/");
						$.ajax({
							url:'/versions/checkPath?verPath='+verPath,
							type:'get',
							async:false,
							dataType:'json',
							success:function(res){
								if(res.data.length == 0){
									verPath = '';
									return layer.msg('请检查该路径下是否有所需要的文件!',{icon:0});
								}
							}
						})
						if(verPath == ''){
							return;
						}
						datas.verPath = verPath;
		            }
		         	$.ajax({
		         		url:'/versions/'+flowNo+'/maintenance',
		         		type:'post',
		         		beforeSend:function(request){
		        			request.setRequestHeader("Authorization","Bearer "+token);
		        		},
		         		data:JSON.stringify(datas),
		         		contentType:'application/json;charset=UTF-8',
		         		dataType:'json',
		         		success:function(res){
		         			if(res.status == 200){
		         				layer.msg('更新成功',{icon:1,time:1000});
		         				layer.closeAll('iframe');
		        				$(".layui-laypage-btn").click();
		         			}else if(res.status == 403){
		         				top.layer.msg('没有版本维护权限!',{icon:0})
		         			}else if(res.status == 401){
		         				top.layer.msg('请重新登录!',{icon:0})
		         			}else if(res.status == 400){
		         				top.layer.msg('更新失败,可能是处理人已经发布了,请刷新重试!',{icon:0})
		         				parent.$(".layui-laypage-btn").click();
		         			}else if(res.status ==  409){
		         				top.layer.msg('该软件名称和版本已存在，请勿重复修改',{icon:0})
		         			}
		         		},
		         		error:function(){
		         			top.layer.msg('出错了!');
		         		}
		         	});
			     }
			  });
		  }else if(obj.event == 'rollback'){
			  var status = data.status;
			  var verType = data.verType;
			  if(status == 7){
				  status = 2;
			  }else if(status == 5){
				  status = 1;
			  }else if(status == 4){
				  if(verType == 2){
					status = 2;
				  }else{
				    status = status - 1;
				  }
			  }else if(status == 2){
				  if(verType == 2){
					  status =5;
				  }else{
					  status = status - 1;
				  }
			  }else{
				  status = status - 1;
			  }
			  if(status == 1){
				  return layer.msg('不能回滚到待申请状态!',{icon:0});
			  }
			  var applicant = data.applicant;
			  var cfgManager = data.cfgManager;
			  var testManager = data.testManager;
			  var projName = data.projName;
			  var result = 1;
			  var comment = data.comment
			  var name = 'Rollback';
			  var data = {name:name,result:result,comment:comment,status:status,projName:projName,
					  applicant:applicant,cfgManager:cfgManager,testManager:testManager}
			  layer.confirm('确定回滚吗？', function(index){
				  $.ajax({
		         		url:'/versions/'+flowNo+'/maintenance',
		         		type:'post',
		         		beforeSend:function(request){
		        			request.setRequestHeader("Authorization","Bearer "+token);
		        		},
		         		data:JSON.stringify(data),
		         		contentType:'application/json;charset=UTF-8',
		         		dataType:'json',
		         		success:function(res){
		         			if(res.status == 200){
		         				layer.msg('回滚成功',{icon:1,time:1000});
		        				var index = parent.layer.getFrameIndex(window.name);
		        				parent.layer.close(index);
		        				$(".layui-laypage-btn").click();
		         			}else if(res.status == 403){
		         				top.layer.msg('没有版本维护权限!',{time:1000})
		         			}else{
		         				top.layer.msg('回滚失败',{time:1000})
		         			}
		         		},
		         		error:function(){
		         			top.layer.msg('出错了!'); 
		         		}
		         	});
		      });
			  
		  }else if(obj.event == 'term'){
	          var datas = data;
	          var name = 'Stop';
	    	  var result = 1;	
	    	  var status = 100;	
	    	  datas.name = name;
	    	  datas.result = result;
	    	  datas.status = status;
	    	  layer.confirm('确定终止整个流程吗？', function(index){
			  $.ajax({
	         		url:'/versions/'+flowNo+'/maintenance',
	         		type:'post',
	         		beforeSend:function(request){
	        			request.setRequestHeader("Authorization","Bearer "+token);
	        		},
	         		data:JSON.stringify(datas),
	         		contentType:'application/json;charset=UTF-8',
	         		dataType:'json',
	         		success:function(res){
	         			if(res.status == 200){
	         				layer.msg('终止成功',{icon:1,time:1000});
	        				var index = parent.layer.getFrameIndex(window.name);
	        				parent.layer.close(index);
	        				$(".layui-laypage-btn").click();
	         			}else if(res.status == 403){
	         				top.layer.msg('没有版本维护权限',{time:1000})
	         				var index = parent.layer.getFrameIndex(window.name);
	        				parent.layer.close(index);
	         			}else{
	         				top.layer.msg('终止失败',{time:1000})
	         				var index = parent.layer.getFrameIndex(window.name);
	        				parent.layer.close(index);
	         			}
	         		},
	         		error:function(){
	         			top.layer.msg('出错了!');
	         		}
	         	});
	    	  });
		  }
	  })

	  var $ = layui.$, active = {
		    reload: function(){
		      var flowNo = $('#flowNo').val().trim();
		      var verId = $('#verId').val().trim();
		      var verNo = $('#verNo').val().trim();
		      var sTime = $('#sTime').val().trim();
		      var eTime = $('#eTime').val().trim();
		      if(sTime > eTime){
		    	  if(eTime == ''){
		    		  layer.msg("请选择处理结束时间",{icon:1,time:1400});
		    		  return;
		    	  }
		    	  layer.msg("处理的启始时间要小于结束时间",{icon:1,time:1400});
		    	  return;
		      }
		      if(sTime == '' && eTime != ''){
		    	  layer.msg("请选择起始时间",{icon:1,time:1400});
		    	  return;
		      }
		      if(eTime == '' && sTime != ''){
		    	  layer.msg("请选择结束时间",{icon:1,time:1400});
		    	  return;
		      }
		      //执行重载
		       table.reload('test', {
		         page: {
		           curr: 1 //重新从第 1 页开始
		         }
		         ,where: {
		        	 flowNo:flowNo,
		        	 verId:verId,
		        	 verNo:verNo,
		        	 sTime:sTime,
		        	 eTime:eTime
		         }
		       });
		  }
		}
	     $('#search').on('click', function(){
			  var type = $(this).data('type');
			  active[type] ? active[type].call(this) : ''; 
		}); 
   });
layui.use(['form', 'layedit', 'laydate'], function(){
	  var form = layui.form
	  ,laydate = layui.laydate;
	  //日期
	  laydate.render({
	    elem: '#sTime'
	    	,type:'datetime'
	  });
	  laydate.render({
	    elem: '#eTime'
	    ,type:'datetime'
	  });
	  
});
function dateFormat(val) {
    if (val != null) {
    //	val = val - 28800000;
    	var val = val.toString();
        var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
        //月份为0-11所以+1，月份小于10补个0
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        var dd = date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute ;
        return dd;
    }
}
</script>

</body>
</html>