<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>版本查询</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css"href="../../layui-v2.5.6/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../../h-ui/h-ui/css/H-ui.min.css">
<link rel="stylesheet" href="../../h-ui/h-ui/css/iconfont.css" media="all"/>
<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
<script src="/static/js/common.js" charset="utf-8"></script>
<style type="text/css">
.layui-form-item .layui-inline {
    margin-bottom: 0px;
    margin-right: 0px;
     width: 22%;
}
.layui-form-item .layui-input-inline {
    margin-right: 0px; 
}
.softName{
margin-bottom: 0px;
}
.layui-form-label {
    padding: 9px 5px;
    width:80px;
}
body {
    font: 10px;
}
.layui-table, .layui-table-view {
     margin: 0 0; 
}

</style>
</head>
<body>

	<form id="formEnter" class="layui-form" action="" style="margin-top: 10px" lay-filter="sform">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">产品线</label>
				<div class="layui-input-inline" >
					<select id="deptId" lay-search="" lay-filter="filter1">
						<option value="">选择或搜索</option>
						<option value="134">产品一部</option>
						<option value="132">产品二部</option>
						<option value="133">产品三部</option>
						<option value="135">产品四部</option>
						<option value="162">产品五部</option>
						<option value="136">派科斯</option>
						<option value="155">软件部</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label ">客户名称</label>
				<div class="layui-input-inline">
					<select id="client" lay-search="" lay-filter="filter2">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required" style="width: 84px">被测产品大类</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="product" lay-filter="filter7" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">料号</label>
				<div class="layui-input-inline">
					<input type="text"  lay-verify="required"
						id="subPartNo" autocomplete="off" class="layui-input">
				</div>
			</div>

		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label layui-required">测试类型</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="testType" lay-filter="filter3" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本类型</label>
				<div class="layui-input-inline">
					<select  lay-filter="verType"  lay-verify="required"
						id="verType" lay-search="">
						<option value="">选择或搜索</option>
						<option value="1">正式版本</option>
						<option value="2">临时版本</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本层级</label>
				<div class="layui-input-inline">
					<select lay-verify="required" lay-filter="filter5" id="verlevel" lay-search="">
						<option value="">选择或搜索</option>
						<option value="1">产品</option>
						<option value="2">上位机</option>
						<option value="3">下位机</option>
						<option value="4">模块</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label layui-required">版本包属性</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="pkgType" lay-filter="filter6" lay-search="">
						<option value="">选择或搜索</option>
						<option value="1">完整版本</option>
						<option value="2">补丁版本</option>
					</select>
				</div>
			</div>
		</div>

		<div class="layui-form-item" >
			<div class="layui-inline">
				<label class="layui-form-label">软件名称</label>
				<div class="layui-input-inline">
					<input type="text"  id="verId" autocomplete="off"
						class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">版本号</label>
				<div class="layui-input-inline">
					<input type="text"  id="verNo" autocomplete="off"
						class="layui-input">
				</div>
			</div>

			<div class="layui-inline">
				<label class="layui-form-label">发布起止时间</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" id="sTime"
						placeholder="yyyy-MM-dd HH:mm:ss">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">发布结束时间</label>
				<div class="layui-input-inline">
					<input type="text" id="eTime" placeholder="yyyy-MM-dd HH:mm:ss"
						class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item softName" >
		   <div class="layui-inline"> 
				<label class="layui-form-label">关键字</label>
				<input type="text" id="keyword" class="layui-input" style="margin-left:90px;position:absolute;z-index:2;width:63%;" placeholder="项目名称或版本描述里的关键字"  autocomplete="off"/>
				<div class="layui-input-inline">
					<select  id="keywords" lay-filter="keywords" lay-search="">
						<option value="">选择或搜索</option>
					</select>
				</div>
		  </div> 
		  <div class="layui-inline softName" style="width:50%;">
	        <button type="button" class="layui-btn layui-btn-sm" style="width:70px;margin-left:4%;" data-type="reload" id="search">查询</button>
			<button type="reset" class="layui-btn layui-btn-sm layui-btn-normal" style="margin-left: 10%;width:70px;" id="reset">重置</button>
            <button type="button"  onclick="dbtnExcel()" style="margin-left: 40%;" class="btn btn-primary radius " value="导出Excel" >导出Excel</button>
		  </div>
		</div>
		  <div >
			
		  </div>
	</form>

	<table class="layui-table" lay-filter="demo" id="pubtable"></table>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs " lay-event="download">下载</a>
  <a class="layui-btn layui-btn-primary layui-btn-xs " lay-event="detail">详情</a>
  <a class="layui-btn layui-btn-primary layui-btn-xs " lay-event="send">更新推送</a>
  {{#  if(d.discard == true){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs " lay-event="discard">废弃</a>
  {{#  } }}
</script>

<script src="../../layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
<script>
init();
function init(){
	var width = $(document.body).width();
	var layui_select = width*22/100 - 100;
	$('.layui-form-item .layui-input-inline ').css("width",layui_select-10);
	$('#keyword').css('width',(layui_select-10)*8/10);
	layui.use('form',function(){
		var form  = layui.form;
	$.ajax({
		url:'/versions/erpDict',
		type:'get',
		beforeSend:function(request){
			request.setRequestHeader("Authorization","Bearer "+token);
		},
		async:false,
		dataType:'json',
		success:function(res){
			var data = res.data;
			for(var i=0; i<data.length; i++){ 
				if(data[i].type == 'product'){
	    	      $("#product").append("<option value='"+data[i].code+"'>"+data[i].code+"</option>"); 
				}else if(data[i].type == 'test'){
	    	      $("#testType").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>");
				}else{
	    	      $("#client").append("<option value='"+data[i].code+" "+data[i].name+"'>"+data[i].code+" "+data[i].name+"</option>"); 
				}
	    	}
		}
	});
	form.render();
	})
}
var storage=window.localStorage;
var token = storage.getItem("token");
var flag = false;

layui.use(['table','form','laydate'], function(){
  var table = layui.table;
  var form = layui.form;
  var laydate = layui.laydate;
  var $ = layui.$;
  
  table.render({
	    elem: '#pubtable'
	    ,cellMinWidth:'100'
	    ,url:'/versions/published'
    	,parseData:function(res){ 
        	return parseData(res); //common.js里面
        }
	    ,headers:{Authorization:"Bearer "+token}
	    ,cols: [[
	      {field: '',align:'center',width:'228',toolbar: '#barDemo',title:'操作'}
	      ,{field:'projName',width:'350', title: '项目名称'}
	      ,{field:'deptId',width:'100', title: '产品线',templet:function(d){
	    	  if(d.deptId == 134){
	    		  return '产品一部'
	    	  }else if(d.deptId == 132){
	    		  return '产品二部'
	    	  }else if(d.deptId == 133){
	    		  return '产品三部'
	    	  }else if(d.deptId == 135){
	    		  return '产品四部'
	    	  }else if(d.deptId == 162){
	    		  return '产品五部'
	    	  }else if(d.deptId == 136){
	    		  return '派科斯'
	    	  }else if(d.deptId == 155){
	    		  return '软件部'
	    	  }else{
	    		  return '产品线'
	    	  }
	      }}
	      ,{field:'client',width:'131', title: '客户名称'}
	      ,{field:'verId',width:'234', title: '软件名称'}
	      ,{field:'verNo',width:'102', title: '版本号'}
	      ,{field:'verlevel',width:'100',title: '版本范围',templet:function(d){
	    	  if(d.verlevel == 1){
	    		  return '产品';
	    	  }else if(d.verlevel == 2){
	    		  return '上位机';
	    	  }else if(d.verlevel == 3){
	    		  return '下位机';
	    	  }else if(d.verlevel == 4){
	    		  return '模块';
	    	  }else{
	    		  return '默认';
	    	  }
	      }}
	      ,{field:'verType',width:'100', title: '版本类型',templet:function(d){
	    	  if(d.verType == 1){
	    		  return '正式版本';
	    	  }else if(d.verType == 2){
	    		  return '<span style="color: white;text-align:center;background: #f3271d;border-radius: 7px;">临时版本</span>';
	    	  }
	      }}
	      ,{field:'subPartNo',width:'119', title: '料号'}
	      ,{field:'applyTime',sort:true, title: '申请时间',width:'170',templet:function(d){
	    	  if(d.applyTime == undefined){
	    		  return '-';
	    	  }
	    	  return dateFormat(d.applyTime);
	      }}
	      ,{field:'publishTime',sort:true, title: '发布时间',width:'170',templet:function(d){
	    	  return dateFormat(d.publishTime);
	      }}
	      ,{field:'flowNo',width:'170', title: '版本流水号'}
	    ]]
  		,id:'test'
	    ,page: true
	    ,done:function(){
	    	if(flag){
	    		return;
	    	}
    		var url = window.location.search;
    		if(url.indexOf("verType") != -1){
    			flag = true;
    			var str = url.substr(1);
    			strs = str.split("=");
    			var verType = strs[1];
    			$('#verType').val(verType);
    			$('#search').click();
    			form.render('select');
    			//$('#verType').val('');
    		}
    		if(url.indexOf("flowNo") != -1){
    			flag = true;
    			var str = url.substr(1);
    			strs = str.split("=");
    			var flowNo = strs[1];
    			$.ajax({
    				url:'/versions/published?flowNo='+flowNo,
    				parseData:function(res){ 
    		        	return parseData(res); //common.js里面
    		        },
    			    type:'get',
    			    beforeSend:function(request){
    					request.setRequestHeader("Authorization","Bearer "+token);
    				},
    			    dataType:'json',
    			    success:function(res){
    			    	if(res.data.length != 0){
    			    		var data = res.data;
    			    		 table.render({
    			    			    elem: '#pubtable'
    			    			    ,data:data
    			    			    ,cols: [[
    			    			    	{field: '',align:'center',width:'233',toolbar: '#barDemo',title:'操作'}
    			    				      ,{field:'projName',width:'350', title: '项目名称'}
    			    				      ,{field:'deptId',width:'100', title: '产品线',templet:function(d){
    			    				    	  if(d.deptId == 134){
    			    				    		  return '产品一部'
    			    				    	  }else if(d.deptId == 132){
    			    				    		  return '产品二部'
    			    				    	  }else if(d.deptId == 133){
    			    				    		  return '产品三部'
    			    				    	  }else if(d.deptId == 135){
    			    				    		  return '产品四部'
    			    				    	  }else if(d.deptId == 162){
    			    				    		  return '产品五部'
    			    				    	  }else if(d.deptId == 136){
    			    				    		  return '派科斯'
    			    				    	  }else if(d.deptId == 155){
    			    				    		  return '软件部'
    			    				    	  }else{
    			    				    		  return '产品线'
    			    				    	  }
    			    				      }}
    			    				      ,{field:'client',width:'131', title: '客户名称'}
    			    				      ,{field:'verId',width:'234', title: '软件名称'}
    			    				      ,{field:'verNo',width:'102', title: '版本号'}
    			    				      ,{field:'verlevel',width:'85',title: '版本范围',templet:function(d){
    			    				    	  if(d.verlevel == 1){
    			    				    		  return '产品';
    			    				    	  }else if(d.verlevel == 2){
    			    				    		  return '上位机';
    			    				    	  }else{
    			    				    		  return '下位机';
    			    				    	  }
    			    				      }}
    			    				      ,{field:'verType',width:'100', title: '版本类型',templet:function(d){
    			    				    	  if(d.verType == 1){
    			    				    		  return '正式版本';
    			    				    	  }else if(d.verType == 2){
    			    				    		  return '临时版本';
    			    				    	  }
    			    				      }}
    			    				      ,{field:'subPartNo',width:'119', title: '料号'}
    			    				      ,{field:'', title: '发布时间',width:'170',templet:function(d){
    			    				    	  return dateFormat(d.publishTime);
    			    				      }}
    			    				      ,{field:'flowNo',width:'170', title: '版本流水号'}
    			    			    ]]
    			    		 });
    			    	}
    			    }
    			
    			})
    		}
	    }
	  });
  

  table.on('tool(demo)',function(obj){
	  var data = obj.data;
	  var content ='/static/templates/ver_manage/ver_download.html';
	  var title = '版本文件下载';
	  if(obj.event == 'download'){
		  if(data.status == 10){
			  return layer.msg('版本已废弃，不提供下载!',{icon:0});
		  }
		  layer.open({
			  type:2,
			  title:title,
			  shadeClose: true,
		      shade: 0.8,
		      scrollbar: false,
		      resize:false,
		      area: ['90%', '90%'],
	  	      content: content,
	  	      success:function(layero,index){
	  	    	var iframeWin = window['layui-layer-iframe' + index];
	            iframeWin.initData(data);//调用修改窗口的初始化方法
	  	      }
		  });
	  }else if(obj.event == 'detail'){
		  title = '';
		  content = '/static/templates/ver_manage/published_process.html';
		  layer.open({
			  type:2,
			  title:title,
			  shadeClose: true,
		      shade: 0.8,
		      scrollbar: false,
		      resize:false,
		      area: ['90%', '90%'],
	  	      content: content,
	  	      success:function(layero,index){
	  	    	var iframeWin = window['layui-layer-iframe' + index];
	            iframeWin.initData(data);//调用修改窗口的初始化方法
	  	      }
		  });
	  }else if(obj.event == 'send'){
		  if(data.status == 10){
			  return layer.msg('版本已废弃，不用推送消息!',{icon:0});
		  }
		  title = "版本更新消息提醒";
		  content = '/static/templates/Phone/published_send.html';
		  layer.open({
			  type:2,
			  title:title,
			  shadeClose: true,
		      shade: 0.8,
		      scrollbar: false,
		      resize:false,
		      area: ['90%', '90%'],
	  	      content: content,
	  	      success:function(layero,index){
	  	    	var iframeWin = window['layui-layer-iframe' + index];
	  	    	 iframeWin.initData(data);
	  	      }
		  });
	  }else if(obj.event == 'discard' ){
		  title = "废弃版本";
		  content = '/static/templates/ver_manage/discard/ver_discard_apply.html';
		  layer.open({
			  type:2,
			  title:title,
			  shadeClose: true,
		      shade: 0.8,
		      scrollbar: false,
		      resize:false,
		      area: ['55%', '40%'],
	  	      content: content,
	  	      success:function(layero,index){
	  	    	var iframeWin = window['layui-layer-iframe' + index];
	  	    	iframeWin.initData(data);
	  	      }
		  });
	  }
  })
  
var $ = layui.$, active = {
	    reload: function(){
	      var deptId = $('#deptId').val()
	      var client = $('#client').val()
	      var subPartNo = $('#subPartNo').val()
	      var testType = $('#testType').val()
	      var verType = $('#verType').val()
	      var verId = $('#verId').val()
	      var verNo = $('#verNo').val()
	      var sTime = $('#sTime').val();
	      var eTime = $('#eTime').val();
	      var verlevel = $('#verlevel').val()
	      var pkgType = $('#pkgType').val()
	      var keyword = $('#keyword').val()
	      var keywords = $('#keywords').val()
	      if(sTime > eTime){
	    	  if(eTime == ''){
	    		  layer.msg("请选择发布结束时间",{icon:1,time:1400});
	    		  return;
	    	  }
	    	  layer.msg("发布启始时间要小于结束时间",{icon:1,time:1400});
	    	  return;
	      }
	      if(sTime == '' && eTime != ''){
	    	  layer.msg("请选择起始时间",{icon:1,time:1400});
	    	  return;
	      }
	      if(eTime == '' && sTime != ''){
	    	  layer.msg("请选择结束时间",{icon:1,time:1400});
	    	  return;
	      }
	      //执行重载
	       table.reload('test', {
	         page: {
	           curr: 1 //重新从第 1 页开始
	         }
	         ,where: {
	        	 deptId:deptId,
	        	 client:client,
	        	 subPartNo:subPartNo,
	        	 testType:testType,
	        	 verType:verType,
	        	 sTime:sTime,
	        	 eTime:eTime,
	        	 verlevel:verlevel,
	        	 pkgType:pkgType,
		         verId:verId,
		         verNo:verNo,
		         keyword:keyword
	         }
	       });
	  }
	}
     $('#search').on('click', function(){
	    var type = $(this).data('type');
		active[type] ? active[type].call(this) : ''; 
	}); 
    form.on('sform',function(){
    	var type = $(this).data('type');
		active[type] ? active[type].call(this) : ''; 
    })
    form.on('select(filter1)',function(){
    	initKeyWords();
		active['reload'].call('reload'); 
    })
    form.on('select(filter2)',function(){
    	active['reload'].call('reload');
    })
    form.on('select(filter3)',function(){
    	active['reload'].call('reload');
    })
    form.on('select(verType)',function(){
    	active['reload'].call('reload');
    })
    form.on('select(filter5)',function(){
    	active['reload'].call('reload');
    })
    form.on('select(filter6)',function(){
    	active['reload'].call('reload');
    })
    form.on('select(filter7)',function(){
    	active['reload'].call('reload');
    })
     form.on('select(keywords)',function(data){
    	 $("#keyword").val(data.value);
         $("#keywords").next().find("dl").css({ "display": "none" });
         form.render();
    	active['reload'].call('reload');
    }) 
    
    $('#keyword').on('keyup',function(){
		var value = $("#keyword").val();
	    $("#keywords").val(value);
	    form.render();
	    $("#keywords").next().find("dl").css({ "display": "block" });
	    var dl = $("#keywords").next().find("dl").children();
	    var j = -1;
	    for (var i = 0; i < dl.length; i++) {
	        if (dl[i].innerHTML.toUpperCase().indexOf(value) <= -1 && dl[i].innerHTML.toLowerCase().indexOf(value)) {
	            dl[i].style.display = "none";
	            j++;
	        }
	        if (j == dl.length-1) {
	            $("#keywords").next().find("dl").css({ "display": "none" });
	        }
	    }
	})
    
    //初始化已经定义好的关键字
    function initKeyWords(){
	   var departId = $('#deptId').val();
	   $.ajax({
	   	  url:'/departKey/getKeyWordsByDeptId?departId='+departId,
	      type:'get',
	   	  dataType:'json',
	   	  success:function(res){
	   		  $('#keywords option').not('option:first').remove();
	   		  if(res.status != 200 || res.data.length == 0){
	   			  form.render('select');
	   			  return;
	   		  }
	   		  var data = res.data;
	   		  for(var i=0;i<data.length;i++){
	   			  $('#keywords').append('<option value ="'+data[i]+'">'+data[i]+'</option>')
	   		  }
		      form.render('select');
	   	  }
	   	
	   })
    }
    initKeyWords();
    
  
	  //日期
	  laydate.render({
	    elem: '#sTime'
	    	,type:'datetime'
	  });
	  laydate.render({
	    elem: '#eTime'
	    ,type:'datetime'
	  });
  
});
var flist = [];
//导出excel
function dbtnExcel(){
		 var deptId = $('#deptId').val().toString();
	     var client = $('#client').val();
	     var product = $('#product').val();
	     var subPartNo = $('#subPartNo').val();
	     var testType = $('#testType').val();
	     var verType = $('#verType').val();
	     var verId = $('#verId').val();
	     var verNo = $('#verNo').val();
	     var sTime = $('#sTime').val();
	     var eTime = $('#eTime').val();
	     var verlevel = $('#verlevel').val();
	     var pkgType = $('#pkgType').val();
	     var url='/versions/discard/exportExcel';
	     var data = {deptId:deptId,client:client,subPartNo:subPartNo,testType:testType,
	     		    verType:verType,verId:verId,verNo:verNo,sTime:sTime,eTime:eTime}; 
	      $.ajax({
	    	 url:'/versions/getFlowNo',
	    	 type:'get',
	    	 beforeSend:function(request){
	 			request.setRequestHeader("Authorization","Bearer "+token);
	 		},
	    	 data:data,
	    	dataType:'json',
	    	success:function(res){
	    		if(res.msg == "success"){  
	    			var list = res.data;
	    			var form = $("<form></form>").attr("action", url).attr("method", "get");
				     form.append($("<input></input>").attr("type", "hidden").attr("name", "flist").attr("value", list));
				     form.appendTo('body').submit().remove();
	    			//window.location.href = '/versions/searchExcel?flist='+list;
	    		}
	    	 } 
	     }); 
	}
	//监听整个表单的输入框
	$('#formEnter').keyup(function(event){
		if(event.keyCode == 13){
		  $('#search').click();
		}
	})
	


function dateFormat(val) {
    if (val != null) {
    	var val = val.toString();
        var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
        //月份为0-11所以+1，月份小于10补个0
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        var dd = date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + second;
        return dd;
    }
}
</script>

</body>
</html>