* {
    margin: 0;
    padding: 0;
}

/*body {
    font-size: 12px;
    font-family: "å®‹ä½“","å¾®è½¯é›…é»‘";
}*/

ul, li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
}

.list {
    height: 100%;
    width: 200px;
    position: fixed;
    background: #393D49;
    border-bottom: solid 1px #393D49;
}

    .list ul li {
        background-color: #393D49;
        border: solid 1px #393D49;
        border-bottom: 0;
    }

        .list ul li a {
            padding-left: 10px;
            color: #fff;
            font-size: 12px;
            display: block;
            font-weight: bold;
            height: 36px;
            line-height: 36px;
            position: relative;
        }

.menu_li:hover {
    background-color: #009688;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.menubtnli {
    width: 200px;
    height: 40px;
    position: relative;
    line-height: 40px;
    font-size: 14px;
    color: rgba(0,0,0,1);
    cursor: pointer;
}

    .menubtnli a {
        position: relative;
        z-index: 2;
    }

    .menubtnli:after {
        content: '';
        width: 5%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,153,255,0);
        z-index: 1;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .menubtnli.active {
        color: rgba(255,255,255,1);
    }

        .menubtnli.active:after {
            width: 100%;
            background: rgba(0,153,255,1);
        }

ul li a:hover {
    color: #fff;
}

.menubtnli span {
    float: right;
    margin-right: 10px;
}

.list ul li .inactive {
    background: url(../images/on.png) no-repeat 184px center;
}

.list ul li .inactives {
    background: url(../images/off.png) no-repeat 184px center;
}

.list ul li ul {
    display: none;
}

    .list ul li ul li {
        border-left: 0;
        border-right: 0;
        background-color: #575e70;
        border-color: #575e70;
    }

        .list ul li ul li ul {
            display: none;
        }

        .list ul li ul li a {
            padding-left: 20px;
            color: #c2c2c2;
        }

            .list ul li ul li a:hover {
                color: #fff;
            }

        .list ul li ul li ul li {
            background-color: #575e70;
            border-color: #575e70;
        }

.last {
    background-color: #575e70;
    border-color: #575e70;
}

.list ul li ul li ul li a {
    color: #c2c2c2;
    padding-left: 30px;
}

    .list ul li ul li ul li a:hover {
        color: #fff;
    }
