<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanmade.plat.report.dao.ImportFileMapper">

    <insert id="insertBatchSummaryDay" parameterType="com.yanmade.plat.report.entity.SummaryDay">
        replace into summary_day values
        <foreach collection="list" item = 'item' separator=",">
            (#{item.ip}, #{item.workArea}, #{item.workshop}, #{item.productType}, #{item.partName}, #{item.testType}, #{item.machineType},
            #{item.machineId}, #{item.dutyDate}, #{item.waitDuaration}, #{item.stopDuaration}, #{item.totalCount},
            #{item.firstPassRatio}, #{item.retestPassRatio}, #{item.firstTotalCount}, #{item.firstPassCount}, #{item.retestTotalCount},
            #{item.retestPassCount}, #{item.top1NgItem}, #{item.top1NgCount}, #{item.top2NgItem}, #{item.top2NgCount},
            #{item.top3NgItem}, #{item.top3NgCount}, #{item.top1AlarmItem}, #{item.top1AlarmCount}, #{item.top2AlarmItem},
            #{item.top2AlarmCount}, #{item.top3AlarmItem}, #{item.top3AlarmCount}, #{item.createtime})
        </foreach>
    </insert>

    <insert id="insertBatchSummaryDuty" parameterType="com.yanmade.plat.report.entity.SummaryDuty">
        replace into summary_duty values
        <foreach collection="list" item = 'item' separator=",">
            (#{item.ip}, #{item.workArea}, #{item.workshop}, #{item.productType}, #{item.partName}, #{item.testType}, #{item.machineType},
            #{item.machineId}, #{item.dutyDate}, #{item.duty}, #{item.waitDuaration}, #{item.stopDuaration}, #{item.totalCount},
            #{item.firstPassRatio}, #{item.restestPassRatio}, #{item.firstTotalCount}, #{item.firstPassCount}, #{item.retestTotalCount},
            #{item.retestPassCount}, #{item.top1NgItem}, #{item.top1NgCount}, #{item.top2NgItem}, #{item.top2NgCount},
            #{item.top3NgItem}, #{item.top3NgCount}, #{item.top1AlarmItem}, #{item.top1AlarmCount}, #{item.top2AlarmItem},
            #{item.top2AlarmCount}, #{item.top3AlarmItem}, #{item.top3AlarmCount}, #{item.createtime})
        </foreach>
    </insert>

    <insert id="insertBatchSummaryHour">
        replace into summary_hour values
        <foreach collection="list" item = 'item' separator=",">
            (#{item.ip}, #{item.workArea}, #{item.workshop}, #{item.productType}, #{item.partName}, #{item.testType}, #{item.machineType},
            #{item.machineId}, #{item.dutyDate}, #{item.duty},  #{item.testDate},#{item.testHour}, #{item.uphTotalCount},
            #{item.uphPassCount}, #{item.waitDuaration}, #{item.stopDuaration}, #{item.totalCount}, #{item.firstPassRatio}, #{item.retestPassRatio},
            #{item.firstTotalCount}, #{item.firstPassCount}, #{item.retestTotalCount}, #{item.retestPassCount}, #{item.top1NgItem},
            #{item.top1NgCount}, #{item.top2NgItem}, #{item.top2NgCount}, #{item.top3NgItem}, #{item.top3NgCount},#{item.top1AlarmItem},
            #{item.top1AlarmCount}, #{item.top2AlarmItem}, #{item.top2AlarmCount}, #{item.top3AlarmItem}, #{item.top3AlarmCount}, #{item.createtime})
        </foreach>
    </insert>

</mapper>