<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanmade.plat.report.dao.SummaryDutyMapper">

	<select id="listDutyReports" parameterType="Map" resultType="java.util.Map">
		select machineId,${sql}, workArea, workshop, partName, productType from summary_duty
		<where>
			<if test="machineId != null and machineId != ''">
				and machineId like concat(#{machineId}, '%')
			</if>
			<if test="partName != null and partName != ''">
				and partName = #{partName}
			</if>
			<if test="workArea != null and workArea != ''">
				and workArea = #{workArea}
			</if>
			<if test="workshop != null and workshop != ''">
				and workshop = #{workshop}
			</if>
			and dutyDate >= #{startDate} and dutyDate &lt;= #{endDate}
		</where>
		group by workArea, workshop, productType, partName, machineId order by workArea, workshop, productType, partName, machineId asc
		limit #{page},#{limit}
	</select>

	<select id="listDutyDates" parameterType="Map"
		resultType="string">
		select distinct(concat(dutyDate, ',', duty)) from summary_duty
		<where>
			<if test="partName != null and partName != ''">
				and partName = #{partName}
			</if>
			<if test="workArea != null and workArea != ''">
				and workArea = #{workArea}
			</if>
			<if test="workshop != null and workshop != ''">
				and workshop = #{workshop}
			</if>
			and dutyDate >= #{startDate} and dutyDate &lt;= #{endDate}
		</where>
	</select>

	<select id="countDutyReportsCnt" parameterType="Map"
		resultType="int">
		select count(distinct(concat(machineId, ',' , workArea, ',' , partName, ',', workshop))) from summary_duty
		<where>
			<if test="partName != null and partName != ''">
				and partName = #{partName}
			</if>
			<if test="workArea != null and workArea != ''">
				and workArea = #{workArea}
			</if>
			<if test="workshop != null and workshop != ''">
				and workshop = #{workshop}
			</if>
			and dutyDate >= #{startDate} and dutyDate &lt;= #{endDate}
		</where>
	</select>

	<select id="countSummaryDuty" parameterType="com.yanmade.plat.report.entity.SummaryDuty" resultType="int">
		select count(*) from summary_duty where ip = #{ip} and dutyDate = #{dutyDate} and duty = #{duty}
	</select>

	<select id="listWorkshops" parameterType="map" resultType="string">
		select distinct(workArea) from summary_duty
		<where>
			<if test="partName != null and partName != ''">
				and partName = #{partName}
			</if>
			<if test="workArea != null and workArea != ''">
				and workArea = #{workArea}
			</if>
			and dutyDate >= #{startDate} and dutyDate &lt;= #{endDate}
		</where>
		order by workArea asc
	</select>

</mapper>