<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>页面访问记录</title>
  <link rel="stylesheet" href="/static/layui-v2.5.6/layui/css/layui.css"  media="all">
  <link href="/static/layui-v2.5.6/layui/css/modules/layer/default/layer.css" rel="stylesheet"/>
  <script src="/static/js/jquery.min.js" charset="utf-8"></script>
  <script src="/static/layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
  <script src="/static/js/common.js" charset="utf-8"></script>
  <script src="/static/templates/access_record/access_record.js" charset="utf-8"></script>
</head>

<style type="text/css">
.layui-textarea {
    min-height: 200px;
}
</style>

<body >
  <form class="layui-form" id="applyForm" style="margin-top: 20px">
  
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label layui-required">产品线</label>
				<div class="layui-input-inline">
					<select lay-verify="required" id="departId" lay-search="">
						<option value="">选择或搜索</option>
						<option value="134">产品一部</option>
						<option value="132">产品二部</option>
						<option value="133">产品三部</option>
						<option value="135">产品四部</option>
						<option value="162">产品五部</option>
						<option value="136">派科斯</option>
						<option value="155">软件部</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label layui-required">关键字</label>
				<div class="layui-input-block">
					<textarea id="keywords" style="width:90%" placeholder="多个关键字以'，'隔开，比如：dock，vpp，ict" class="layui-textarea"
						name=""></textarea>
				</div>
			</div>
		</div>
		
	</form>
	
	<button type="button" style="margin-left:150px;"   class="layui-btn" id="build" onclick="submit()">提交</button>
	<button type="button" class="layui-btn layui-btn-primary" id="close" onclick="close()">返回</button>

</body>

<script type="text/javascript">
layui.use('form',function(){
	var form = layui.form;
	
	var url = window.location.search;
	var keywords = url.split("=")[1];
	keywords = decodeURIComponent(keywords.substring(0,keywords.length - 9));
	var departId = decodeURIComponent(url.split("=")[2]);
	$('#keywords').val(keywords);
	$('#departId').val(departId);
	form.render('select');
	
})
var storage = window.localStorage;
var token = storage.getItem("token");

	
	function submit(){
		var departId = $('#departId').val();
		if(departId == ''){
			return layer.msg('请选择部门!');
		}
		var keywords = $('#keywords').val();
		if(keywords.length > 8000){
			return layer.msg('字数太多了');
		}
		var paramData = {"departId":departId,"keywords":keywords}
		$.ajax({
			url:'/departKey',
			type:'post',
			beforeSend:function(request){
				request.setRequestHeader("Authorization","Bearer "+token);
			},
			contentType:'application/json;charset=utf-8',
			data:JSON.stringify(paramData),
			dataType:'json',
			success:function(res){
				if(res.status != 200){
					return layer.msg(res.errMsg);
				}
				 parent.layer.msg('提交成功',{icon:1,time:1000});
				 parent.layer.closeAll('iframe');
			},error:function(){
				layer.msg('系统出错!');
			}
		})
	}
	
	 $('#close').click(function(){
		parent.layer.closeAll();
	}) 
	

</script>

</html>